/* line 1, ../../../../app/stylesheets/compositions/form.sass */
textarea#composition_title {
  height: 1.2em;
}

/* line 7, ../../../../app/stylesheets/compositions/form.sass */
body.bp ol, body.bp ul {
  padding: 0;
  margin: 0;
}

/* line 11, ../../../../app/stylesheets/compositions/form.sass */
form.formtastic fieldset.buttons {
  padding: 0;
}
