%table.table-of-contents
  %thead
    %tr
      %th{ title: "Sort by Title" } Title
      %th{ title: "Sort by Author" } Author
      %th.headerSortDown{ title: "Sort by Page Number" } Page
  %tbody
    - table_of_contents.hash.each do |sub, props|
      %tr
        %td= link_to sub, sub
        %td= link_to_if sub.pseudonym_link, sub.author_name, sub.author
        %td= link_to props[:page].title, [props[:page].magazine, props[:page]]

- if orchestrates? @magazine
  = link_to "Delete table of contents from this page", [table_of_contents], method: :delete

- javascript "jquery.tablesorter.min"
:javascript
  $(function(){
    $('table.table-of-contents').tablesorter( {sortList: [[2,0]]} );
  });
