%li.collapsed[packlet]
  - if orchestrates? packlet.meeting
    %span.drag-handle-wrap
      %span.drag-handle.fa.fa-bars
  %header
    %a{ :href => submission_url(packlet.submission) }
      %h2.nocaps= sanitize packlet.submission.title
  - Rails.logger.debug packlet.submission
  = render :partial => 'submissions/body_and_footer', :locals => { :submission => packlet.submission, :packlet => packlet }
