%li[meeting]
  %a{ :href => meeting_url(meeting), :title => 'view meeting' }
    %span.when= pretty_date meeting.when
    %span.question= meeting.question
  - if editor?
    %span.actions
      = link_to "Edit", edit_meeting_url(meeting)
      |
      = link_to "Delete", meeting_url(meeting), :method => :destroy, :confirm => "You're saying this meeting never actually happened, and never will."
