%li[meeting]
  %a{ :href => meeting_url(meeting), :title => 'view meeting' }
    %span.question= meeting.question
    %span.datetime= pretty_date meeting.datetime
  - if editor?
    %nav.actions
      %ul
        %li= link_to "Edit", edit_meeting_url(meeting)
        %li
          = button_to "Delete", meeting_url(meeting),
                      :method => :delete,
                      :confirm => "You're saying this meeting never actually happened, and never will. You're ok with removing any attendance records for this meeting. Any scores that have been entered will disappear.",
                      :class => 'link destroy'
