- title t('.title')

- content_for :sidebar do
  = render partial: 'magazines/sidebar'

- if orchestrates? @magazine || @publication
  %p= link_to t('.new_meeting'), new_meeting_path

- if @orphaned_meetings.present?
  %section
    %header
      %h2 Orphaned Meetings
    %ul.meetings
      - for meeting in @orphaned_meetings
        = render :partial => 'meetings/show', :locals => { :meeting => meeting }

%ol.meetings
  - for meeting in @meetings
    = render :partial => 'show', :locals => { :meeting => meeting }
