- title t('.title') + " for #{@magazine}"

- content_for :sidebar do
  = render partial: 'magazines/sidebar'

- if editor?
  %p= link_to t('.new_meeting'), new_meeting_path

%ol.meetings
  - for meeting in collection
    = render :partial => 'show', :locals => { :meeting => meeting }
