- javascript "meetings"

%div.column#packet_titles
  - for packet in resource.packets
    = render :partial => "packets/title", :locals => { :packet => packet }
- for attendee in @attendees
  %div.column.scores
    - for packet in resource.packets
      = render :partial => "scores/form", :locals => { :score => Score.with(attendee, packet, :entered_by_coeditor => true) }
