- title "Meeting"
%p= @meeting.when.strftime("On %A the %d of %B, %Y (at %I:%M %p)")
%h3= @meeting.question
%p
  = link_to t('back'), meetings_path
  = link_to t('edit'), edit_meeting_path(@meeting)

