- title "Sign up"
- content_for :sidebar do
  %h2 Why should I?
  :markdown
    Signing up has several benefits!
    
    * You'll get to see how your works are scored *when* they're scored
    * Other people will be able to see all of your published works on your page
    * If you're a staff member, it will make keeping track of your attendence a breeze
    * and more!
  
  = render :partial => 'people/your_name_looks_like'

= render :partial => 'form'

= render :partial => "devise/shared/links"
