/* Reset --------------------------------------------------------------*/
/* line 14, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* HTML5 Reset --------------------------------------------------------------*/
/* line 107, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Typography -------------------------------------------------------------- */
/* The following classes are for use with @extend. */
/* line 19, ../../../app/stylesheets/_defaults.sass */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 23, ../../../app/stylesheets/_defaults.sass */
.serif, body, input[type=submit], button {
  font-family: Cambria, Georgia, serif;
}

/* line 26, ../../../app/stylesheets/_defaults.sass */
.sans {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 29, ../../../app/stylesheets/_defaults.sass */
.mono, pre, code, tt {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

/* line 32, ../../../app/stylesheets/_defaults.sass */
.caps, .allcaps, h1, h2, caption, .smallcaps, h4 {
  letter-spacing: 0.1em;
}

/* line 35, ../../../app/stylesheets/_defaults.sass */
.allcaps, h1, h2, caption {
  text-transform: uppercase;
}

/* line 39, ../../../app/stylesheets/_defaults.sass */
.smallcaps, h4 {
  font-variant: small-caps;
}

/* Body -------------------------------------------------------------- */
/* line 45, ../../../app/stylesheets/_defaults.sass */
body {
  color: #4c4c4c;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
/* line 58, ../../../app/stylesheets/_defaults.sass */
::-moz-selection {
  color: white;
  background: #cfb309;
  text-shadow: none;
}

/* line 63, ../../../app/stylesheets/_defaults.sass */
::selection {
  color: white;
  background: #cfb309;
  text-shadow: none;
}

/* Links -------------------------------------------------------------- */
/* line 85, ../../../app/stylesheets/_defaults.sass */
a {
  color: #db8322;
}
/* line 72, ../../../app/stylesheets/_defaults.sass */
a:link, a:visited {
  color: #db8322;
  text-decoration: none;
}
/* line 75, ../../../app/stylesheets/_defaults.sass */
a:link, a:visited, a:hover, a:active {
  outline: none;
}
/* line 77, ../../../app/stylesheets/_defaults.sass */
a:focus, a:hover {
  color: #8bc7c7;
  text-decoration: none;
}
/* line 80, ../../../app/stylesheets/_defaults.sass */
a:active {
  color: #c78b8b;
}
/* line 82, ../../../app/stylesheets/_defaults.sass */
a:focus {
  outline: thin dotted;
}

/* Headings -------------------------------------------------------------- */
/* line 90, ../../../app/stylesheets/_defaults.sass */
h2, h3, h4, h5, h6 {
  margin-bottom: 1.5em;
}

/* line 93, ../../../app/stylesheets/_defaults.sass */
h1 {
  font-size: 1.313em;
  line-height: 1.143em;
  margin-bottom: 1.143em;
}

/* line 97, ../../../app/stylesheets/_defaults.sass */
h1, h2 {
  text-shadow: silver 1px 1px 2px;
}

/* line 101, ../../../app/stylesheets/_defaults.sass */
h3 {
  font-weight: bold;
}

/* line 104, ../../../app/stylesheets/_defaults.sass */
h4 {
  text-transform: lowercase;
}

/* line 108, ../../../app/stylesheets/_defaults.sass */
h5, h6 {
  font-style: italic;
}

/* Inline -------------------------------------------------------------- */
/* line 113, ../../../app/stylesheets/_defaults.sass */
cite, em, dfn, address, i {
  font-style: italic;
}

/* line 116, ../../../app/stylesheets/_defaults.sass */
strong, dfn, b {
  font-weight: bold;
}

/* line 119, ../../../app/stylesheets/_defaults.sass */
sup, sub {
  font-size: smaller;
  line-height: 0;
}

/* line 123, ../../../app/stylesheets/_defaults.sass */
sup {
  vertical-align: super;
}

/* line 126, ../../../app/stylesheets/_defaults.sass */
sub {
  vertical-align: sub;
}

/* line 129, ../../../app/stylesheets/_defaults.sass */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 133, ../../../app/stylesheets/_defaults.sass */
ins {
  text-decoration: underline;
}

/* line 136, ../../../app/stylesheets/_defaults.sass */
del {
  text-decoration: line-through;
}

/* line 139, ../../../app/stylesheets/_defaults.sass */
mark {
  background: #ffff99;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

/* line 144, ../../../app/stylesheets/_defaults.sass */
small {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 147, ../../../app/stylesheets/_defaults.sass */
q {
  font-style: italic;
}
/* line 149, ../../../app/stylesheets/_defaults.sass */
q em {
  font-style: normal;
}

/* Block -------------------------------------------------------------- */
/* line 157, ../../../app/stylesheets/_defaults.sass */
p {
  margin-bottom: 1.5em;
}

/* line 160, ../../../app/stylesheets/_defaults.sass */
pre {
  margin: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 167, ../../../app/stylesheets/_defaults.sass */
blockquote {
  margin: 1.5em;
  font-style: italic;
}

/* Replaced -------------------------------------------------------------- */
/* line 173, ../../../app/stylesheets/_defaults.sass */
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* Lists -------------------------------------------------------------- */
/* line 180, ../../../app/stylesheets/_defaults.sass */
ol, ul, dl {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

/* line 184, ../../../app/stylesheets/_defaults.sass */
ol {
  list-style: decimal;
}

/* line 187, ../../../app/stylesheets/_defaults.sass */
ul {
  list-style: disc;
}
/* line 189, ../../../app/stylesheets/_defaults.sass */
li ul {
  list-style-type: circle;
}

/* line 192, ../../../app/stylesheets/_defaults.sass */
dt {
  margin-top: 1.5em;
  font-style: italic;
}

/* line 196, ../../../app/stylesheets/_defaults.sass */
dd {
  padding-left: 1.5em;
}

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
/* line 202, ../../../app/stylesheets/_defaults.sass */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 208, ../../../app/stylesheets/_defaults.sass */
table, td, th {
  vertical-align: top;
}

/* line 211, ../../../app/stylesheets/_defaults.sass */
th, thead th {
  font-weight: bold;
}

/* line 214, ../../../app/stylesheets/_defaults.sass */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 219, ../../../app/stylesheets/_defaults.sass */
table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}

/* line 222, ../../../app/stylesheets/_defaults.sass */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* Forms -------------------------------------------------------------- */
/* line 230, ../../../app/stylesheets/_defaults.sass */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 234, ../../../app/stylesheets/_defaults.sass */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}

/* line 238, ../../../app/stylesheets/_defaults.sass */
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 241, ../../../app/stylesheets/_defaults.sass */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 244, ../../../app/stylesheets/_defaults.sass */
label {
  font-weight: bold;
}

/* line 249, ../../../app/stylesheets/_defaults.sass */
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  margin-bottom: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  border-color: silver;
  -moz-box-shadow: #8bc7c7 0 0 3px 0;
  -webkit-box-shadow: #8bc7c7 0 0 3px 0;
  -o-box-shadow: #8bc7c7 0 0 3px 0;
  box-shadow: #8bc7c7 0 0 3px 0;
  height: 2.571em;
}

/* line 261, ../../../app/stylesheets/_defaults.sass */
textarea {
  height: 11.143em;
  vertical-align: text-bottom;
}

/* line 272, ../../../app/stylesheets/_defaults.sass */
input[type=search] {
  -webkit-appearance: none;
}
/* line 274, ../../../app/stylesheets/_defaults.sass */
input[type=search]::-webkit-search-decoration {
  display: none;
}

/* line 277, ../../../app/stylesheets/_defaults.sass */
button {
  width: auto;
  overflow: visible;
}

/* line 281, ../../../app/stylesheets/_defaults.sass */
input[type=submit], button {
  font-size: 1em;
  line-height: 1.5em;
  background: #db8322;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffb655), color-stop(100%, #ca7211));
  background-image: -moz-linear-gradient(top, #ffb655 0%, #ca7211 100%);
  background-image: linear-gradient(top, #ffb655 0%, #ca7211 100%);
  border: none;
  text-decoration: none;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  padding-left: 2.212%;
  padding-right: 2.212%;
  -moz-box-shadow: #4a4a4a 1px 1px 2px 0;
  -webkit-box-shadow: #4a4a4a 1px 1px 2px 0;
  -o-box-shadow: #4a4a4a 1px 1px 2px 0;
  box-shadow: #4a4a4a 1px 1px 2px 0;
}
/* line 292, ../../../app/stylesheets/_defaults.sass */
input[type=submit]:hover, button:hover {
  -moz-box-shadow: #4a4a4a 0 0 2px 0;
  -webkit-box-shadow: #4a4a4a 0 0 2px 0;
  -o-box-shadow: #4a4a4a 0 0 2px 0;
  box-shadow: #4a4a4a 0 0 2px 0;
  color: #4c4c4c;
}
/* line 295, ../../../app/stylesheets/_defaults.sass */
input[type=submit]:active, button:active {
  -moz-box-shadow: #4a4a4a 1px 1px 1px 0 inset;
  -webkit-box-shadow: #4a4a4a 1px 1px 1px 0 inset;
  -o-box-shadow: #4a4a4a 1px 1px 1px 0 inset;
  box-shadow: #4a4a4a 1px 1px 1px 0 inset;
  color: #4c4c4c;
}
/* line 298, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link, button.link {
  background: transparent;
  -moz-box-shadow: black 0 0 0 0;
  -webkit-box-shadow: black 0 0 0 0;
  -o-box-shadow: black 0 0 0 0;
  box-shadow: black 0 0 0 0;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  cursor: pointer;
  padding: 0;
  display: inline;
  color: #db8322;
}
/* line 72, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:link, input[type=submit].link:visited, button.link:link, button.link:visited {
  color: #db8322;
  text-decoration: none;
}
/* line 75, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:link, input[type=submit].link:visited, input[type=submit].link:hover, input[type=submit].link:active, button.link:link, button.link:visited, button.link:hover, button.link:active {
  outline: none;
}
/* line 77, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:focus, input[type=submit].link:hover, button.link:focus, button.link:hover {
  color: #8bc7c7;
  text-decoration: none;
}
/* line 80, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:active, button.link:active {
  color: #c78b8b;
}
/* line 82, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:focus, button.link:focus {
  outline: thin dotted;
}

/* line 307, ../../../app/stylesheets/_defaults.sass */
form.button_to {
  display: inline;
}
/* line 309, ../../../app/stylesheets/_defaults.sass */
form.button_to div {
  display: inline;
}

/* Print Defaults -------------------------------------------------------------- */
/* line 13, app/stylesheets/print.sass */
nav {
  display: none;
}

/* line 16, app/stylesheets/print.sass */
* {
  background: transparent !important;
  color: #444444 !important;
  float: none !important;
  text-shadow: none !important;
}

/* line 22, app/stylesheets/print.sass */
body {
  font-family: Cambria, Georgia, serif;
  font-size: 12pt;
  background: white;
  color: black;
}

/* line 29, app/stylesheets/print.sass */
a:link, a:visited {
  color: #444444 !important;
  text-decoration: underline;
}
/* line 32, app/stylesheets/print.sass */
a:after {
  content: " (" attr(href) ") ";
  font-size: smaller;
}

/* line 36, app/stylesheets/print.sass */
abbr:after {
  content: " (" attr(title) ")";
  font-size: smaller;
}

/* line 40, app/stylesheets/print.sass */
pre, blockquote, img {
  page-break-inside: avoid;
}

@page {
  margin: 0.5cm;
}

/* line 47, app/stylesheets/print.sass */
p, h2, h3 {
  orphans: 3;
  widows: 3;
}

/* line 51, app/stylesheets/print.sass */
h2, h3 {
  page-break-after: avoid;
}
