@charset "UTF-8";
/* line 17, /Users/chad/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/chad/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Users/chad/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Users/chad/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Users/chad/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Users/chad/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Users/chad/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Users/chad/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Users/chad/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 51, /Users/chad/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 55, /Users/chad/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* Typography -------------------------------------------------------------- */
/* The following classes are for use with @extend. */
/* line 22, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 26, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
.serif, body, input[type=submit], button {
  font-family: Cambria, Georgia, serif;
}

/* line 29, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
.sans {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 32, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
.mono, pre, code, tt {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

/* line 35, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
.caps, .allcaps, h1, h2, caption, .smallcaps, .nocaps {
  letter-spacing: 0.1em;
}

/* line 38, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
.allcaps, h1, h2, caption {
  text-transform: uppercase;
}

/* line 42, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
.smallcaps {
  font-variant: small-caps;
}

/* line 46, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
.nocaps {
  text-transform: none;
}

/* line 50, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
.error {
  color: #db4522;
}

/* line 53, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
.right {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  float: right;
  right: 0;
  bottom: 0;
}
/* line 7, /Users/chad/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.right {
  *display: inline;
}

/* line 59, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
.small {
  font-size: 0.75em;
  line-height: 2em;
}

/* Body -------------------------------------------------------------- */
/* line 64, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
body {
  color: #4c4c4c;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
/* line 77, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
::-moz-selection {
  color: #4c4c4c;
  background: #bfe0e0;
  text-shadow: none;
}

/* line 82, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
::selection {
  color: #4c4c4c;
  background: #bfe0e0;
  text-shadow: none;
}

/* Links -------------------------------------------------------------- */
/* line 104, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
a {
  color: #db8322;
}
/* line 91, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
a:link, a:visited {
  color: #db8322;
  text-decoration: none;
}
/* line 94, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
a:link, a:visited, a:hover, a:active {
  outline: none;
}
/* line 96, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
a:focus, a:hover {
  color: #8bc7c7;
  text-decoration: none;
}
/* line 99, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
a:active {
  color: #c78b8b;
}
/* line 101, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
a:focus {
  outline: thin dotted;
}

/* Headings -------------------------------------------------------------- */
/* line 109, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
h2, h3, h4, h5, h6 {
  margin-bottom: 1.5em;
}

/* line 112, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
h1 {
  font-size: 1.313em;
  line-height: 1.143em;
  margin-bottom: 1.143em;
}

/* line 116, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
h1, h2 {
  text-shadow: silver 0px 0px 2px;
}

/* line 120, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
h3 {
  font-weight: bold;
}

/* line 123, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
h5, h6 {
  font-style: italic;
}

/* Inline -------------------------------------------------------------- */
/* line 128, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
cite, em, dfn, address, i {
  font-style: italic;
}

/* line 131, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
strong, dfn, b {
  font-weight: bold;
}

/* line 134, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
sup, sub {
  font-size: smaller;
  line-height: 0;
}

/* line 138, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
sup {
  vertical-align: super;
}

/* line 141, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
sub {
  vertical-align: sub;
}

/* line 144, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 148, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
ins {
  text-decoration: underline;
}

/* line 151, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
del {
  text-decoration: line-through;
}

/* line 154, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
mark {
  background: #ffff99;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

/* line 159, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
small {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 162, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
q {
  font-style: italic;
}
/* line 164, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
q em {
  font-style: normal;
}

/* Block -------------------------------------------------------------- */
/* line 172, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
p {
  margin-bottom: 1.5em;
}

/* line 175, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
pre {
  margin: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 182, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
blockquote {
  margin: 1.5em;
}

/* Replaced -------------------------------------------------------------- */
/* line 187, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
img {
  vertical-align: text-middle;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* Lists -------------------------------------------------------------- */
/* line 194, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
ol, ul {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}
/* line 197, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0em;
}

/* line 200, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
ol {
  list-style: decimal;
}

/* line 203, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
ul {
  list-style: disc;
}
/* line 205, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
li ul {
  list-style-type: circle;
}

/* line 208, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
dl {
  margin-bottom: 1.5em;
  margin-top: 0em;
}

/* line 211, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
dt {
  cursor: pointer;
}
/* line 213, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
dt p {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  max-width: 80%;
  margin-bottom: 0em;
}
/* line 7, /Users/chad/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
dt p {
  *display: inline;
}
/* line 217, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
dt span.arrow {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  vertical-align: top;
}
/* line 7, /Users/chad/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
dt span.arrow {
  *display: inline;
}
/* line 221, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
dt span.arrow.rotated {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 225, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
dd {
  padding-left: 1.5em;
}

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
/* line 231, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 237, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
table, td, th {
  vertical-align: middle;
}

/* line 240, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
th, thead th {
  font-weight: bold;
}

/* line 243, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
th, td, caption {
  padding: 0.75em;
  padding-bottom: 0;
  text-align: left;
  font-weight: normal;
}

/* line 249, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
th {
  border-bottom-style: dotted;
  border-bottom-width: 0.063em;
  padding-bottom: -0.063em;
  width: 70%;
}
/* line 252, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
th.headerSortDown:after {
  content: " ˇ";
}
/* line 254, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
th.headerSortUp:after {
  content: " ˆ";
}

/* line 257, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* Forms -------------------------------------------------------------- */
/* line 265, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 269, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}

/* line 273, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 276, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
label.boolean {
  display: inline-block;
  width: 80%;
}

/* line 280, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
label.collection_check_boxes {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  font-weight: normal;
  margin: 0;
  width: 98%;
}
/* line 7, /Users/chad/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
label.collection_check_boxes {
  *display: inline;
}

/* line 285, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
input[type=checkbox] {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, /Users/chad/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
input[type=checkbox] {
  *display: inline;
}

/* line 287, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
div.check_boxes span {
  display: block;
}

/* line 290, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 293, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
label {
  margin-top: 1.5em;
  display: block;
  font-weight: bold;
}

/* line 300, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color], select {
  font-family: Cambria, Georgia, serif;
  font-size: 1em;
  line-height: 1.5em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  margin-bottom: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 38.5em;
  margin-top: 0;
  border-color: silver;
  -moz-box-shadow: #8bc7c7 0 0 3px 0;
  -webkit-box-shadow: #8bc7c7 0 0 3px 0;
  -o-box-shadow: #8bc7c7 0 0 3px 0;
  box-shadow: #8bc7c7 0 0 3px 0;
  height: 2.571em;
}

/* line 313, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
textarea {
  height: 11.143em;
  vertical-align: text-bottom;
}

/* line 324, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
input[type=search] {
  -webkit-appearance: none;
}
/* line 326, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
input[type=search]::-webkit-search-decoration {
  display: none;
}

/* line 332, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
button {
  width: auto;
  overflow: visible;
}

/* line 336, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
input[type=submit], button {
  font-size: 1em;
  line-height: 1.5em;
  background: #db8322;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffb655), color-stop(100%, #ca7211));
  background: -webkit-linear-gradient(#ffb655, #ca7211);
  background: -moz-linear-gradient(#ffb655, #ca7211);
  background: -o-linear-gradient(#ffb655, #ca7211);
  background: -ms-linear-gradient(#ffb655, #ca7211);
  background: linear-gradient(#ffb655, #ca7211);
  border: none;
  text-decoration: none;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  padding-left: 2.212%;
  padding-right: 2.212%;
  -moz-box-shadow: #4a4a4a 1px 1px 2px 0;
  -webkit-box-shadow: #4a4a4a 1px 1px 2px 0;
  -o-box-shadow: #4a4a4a 1px 1px 2px 0;
  box-shadow: #4a4a4a 1px 1px 2px 0;
}
/* line 347, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
input[type=submit]:hover, button:hover {
  -moz-box-shadow: #4a4a4a 0 0 2px 0;
  -webkit-box-shadow: #4a4a4a 0 0 2px 0;
  -o-box-shadow: #4a4a4a 0 0 2px 0;
  box-shadow: #4a4a4a 0 0 2px 0;
}
/* line 349, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
input[type=submit]:active, button:active {
  -moz-box-shadow: #4a4a4a 1px 1px 1px 0 inset;
  -webkit-box-shadow: #4a4a4a 1px 1px 1px 0 inset;
  -o-box-shadow: #4a4a4a 1px 1px 1px 0 inset;
  box-shadow: #4a4a4a 1px 1px 1px 0 inset;
}
/* line 351, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
input[type=submit].link, button.link {
  background: transparent;
  -moz-box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
  -o-box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
  box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  cursor: pointer;
  padding: 0;
  display: inline;
  color: #db8322;
}
/* line 354, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
input[type=submit].link:hover, button.link:hover {
  -moz-box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
  -o-box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
  box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
}
/* line 356, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
input[type=submit].link:active, button.link:active {
  -moz-box-shadow: rgba(255, 255, 255, 0) 0 0 0 0 false;
  -webkit-box-shadow: rgba(255, 255, 255, 0) 0 0 0 0 false;
  -o-box-shadow: rgba(255, 255, 255, 0) 0 0 0 0 false;
  box-shadow: rgba(255, 255, 255, 0) 0 0 0 0 false;
}
/* line 91, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
input[type=submit].link:link, input[type=submit].link:visited, button.link:link, button.link:visited {
  color: #db8322;
  text-decoration: none;
}
/* line 94, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
input[type=submit].link:link, input[type=submit].link:visited, input[type=submit].link:hover, input[type=submit].link:active, button.link:link, button.link:visited, button.link:hover, button.link:active {
  outline: none;
}
/* line 96, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
input[type=submit].link:focus, input[type=submit].link:hover, button.link:focus, button.link:hover {
  color: #8bc7c7;
  text-decoration: none;
}
/* line 99, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
input[type=submit].link:active, button.link:active {
  color: #c78b8b;
}
/* line 101, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
input[type=submit].link:focus, button.link:focus {
  outline: thin dotted;
}

/* line 365, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
span.hint {
  display: block;
}

/* line 368, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
form.button_to {
  display: inline;
}
/* line 370, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
form.button_to div {
  display: inline;
}

/* line 374, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
span[contenteditable]:hover {
  background-color: #e0ca44;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7d770), color-stop(100%, #e0ca44));
  background: -webkit-linear-gradient(#e7d770, #e0ca44);
  background: -moz-linear-gradient(#e7d770, #e0ca44);
  background: -o-linear-gradient(#e7d770, #e0ca44);
  background: -ms-linear-gradient(#e7d770, #e0ca44);
  background: linear-gradient(#e7d770, #e0ca44);
  cursor: pointer;
}
/* line 378, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
span[contenteditable]:focus {
  background-color: #e7a863;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eec18f), color-stop(100%, #e7a863));
  background: -webkit-linear-gradient(#eec18f, #e7a863);
  background: -moz-linear-gradient(#eec18f, #e7a863);
  background: -o-linear-gradient(#eec18f, #e7a863);
  background: -ms-linear-gradient(#eec18f, #e7a863);
  background: linear-gradient(#eec18f, #e7a863);
  cursor: text;
  -moz-box-shadow: silver 0 0 3px inset;
  -webkit-box-shadow: silver 0 0 3px inset;
  -o-box-shadow: silver 0 0 3px inset;
  box-shadow: silver 0 0 3px inset;
}

/* line 390, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
.grayed-out {
  color: silver;
}
/* line 387, /Users/chad/Code/pc/app/stylesheets/_defaults.sass */
.grayed-out a, .grayed-out input.link, .grayed-out input {
  color: silver;
}

/* Print Defaults -------------------------------------------------------------- */
/* line 13, ../../../app/stylesheets/print.sass */
#page > nav, #page > header, body > footer {
  display: none;
}

/* line 16, ../../../app/stylesheets/print.sass */
* {
  background: transparent !important;
  float: none !important;
  text-shadow: none !important;
}

/* line 21, ../../../app/stylesheets/print.sass */
body {
  font-family: Cambria, Georgia, serif;
  font-size: 12pt;
  background: white;
  color: black;
}

/* line 28, ../../../app/stylesheets/print.sass */
a:link, a:visited {
  color: #444444;
  font-weight: bold;
}

/* line 35, ../../../app/stylesheets/print.sass */
abbr:after {
  content: " (" attr(title) ")";
  font-size: smaller;
}

/* line 39, ../../../app/stylesheets/print.sass */
pre, blockquote, img {
  page-break-inside: avoid !important;
}

@page {
  margin: 1cm;
}

/* line 46, ../../../app/stylesheets/print.sass */
p, h2, h3 {
  orphans: 3;
  widows: 3;
}

/* line 50, ../../../app/stylesheets/print.sass */
h2, h3, header {
  page-break-after: avoid;
}

/* line 53, ../../../app/stylesheets/print.sass */
section#packlet {
  margin-top: 24pt;
}

/* line 56, ../../../app/stylesheets/print.sass */
li.packlet, li.submission {
  margin-bottom: 24pt;
}
/* line 58, ../../../app/stylesheets/print.sass */
li.packlet ul, li.submission ul {
  list-style-type: disc;
}
/* line 60, ../../../app/stylesheets/print.sass */
li.packlet ol, li.packlet ul, li.submission ol, li.submission ul {
  margin-bottom: 12pt;
}
/* line 62, ../../../app/stylesheets/print.sass */
li.packlet ol ol, li.packlet ol ul, li.packlet ul ol, li.packlet ul ul, li.submission ol ol, li.submission ol ul, li.submission ul ol, li.submission ul ul {
  margin-bottom: 0;
}
/* line 64, ../../../app/stylesheets/print.sass */
li.packlet > footer, li.submission > footer {
  color: silver;
  margin-top: 12pt;
}
/* line 67, ../../../app/stylesheets/print.sass */
li.packlet > footer img, li.submission > footer img {
  display: none;
}
/* line 69, ../../../app/stylesheets/print.sass */
li.packlet > footer p, li.submission > footer p {
  margin-bottom: 0;
}
/* line 71, ../../../app/stylesheets/print.sass */
li.packlet > footer nav.actions, li.submission > footer nav.actions {
  display: none;
}

/* line 74, ../../../app/stylesheets/print.sass */
span.drag-handle, section#attendance, input, article > header > div {
  display: none !important;
}
