/*
Syntax error: Undefined mixin 'trailer'.
        on line 81 of app/stylesheets/./_defaults.sass, in `trailer'
        from line 81 of app/stylesheets/./_defaults.sass
        from line 9 of app/stylesheets/print.sass

Backtrace:
app/stylesheets/./_defaults.sass:81:in `trailer'
app/stylesheets/./_defaults.sass:81
app/stylesheets/print.sass:9
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/mixin_node.rb:74:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:317:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/rule_node.rb:191:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/import_node.rb:78:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/import_node.rb:64:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/root_node.rb:37:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:317:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/root_node.rb:59:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/root_node.rb:37:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/tree/root_node.rb:29:in `render'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/plugin.rb:220:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/plugin.rb:85:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/plugin.rb:78:in `each'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/plugin.rb:78:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/plugin.rb:76:in `each'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/plugin.rb:76:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/plugin.rb:50:in `check_for_updates'
/Library/Ruby/Gems/1.8/gems/haml-3.0.18/lib/sass/plugin/rack.rb:40:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/head.rb:14:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/cookies.rb:287:in `call'
/Library/Ruby/Gems/1.8/gems/activerecord-3.0.0/lib/active_record/query_cache.rb:32:in `call'
/Library/Ruby/Gems/1.8/gems/activerecord-3.0.0/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Library/Ruby/Gems/1.8/gems/activerecord-3.0.0/lib/active_record/query_cache.rb:12:in `cache'
/Library/Ruby/Gems/1.8/gems/activerecord-3.0.0/lib/active_record/query_cache.rb:31:in `call'
/Library/Ruby/Gems/1.8/gems/activerecord-3.0.0/lib/active_record/connection_adapters/abstract/connection_pool.rb:355:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/Library/Ruby/Gems/1.8/gems/activesupport-3.0.0/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/Library/Ruby/Gems/1.8/gems/railties-3.0.0/lib/rails/rack/logger.rb:13:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/Library/Ruby/Gems/1.8/gems/activesupport-3.0.0/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `synchronize'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/static.rb:30:in `call'
/Library/Ruby/Gems/1.8/gems/railties-3.0.0/lib/rails/application.rb:168:in `call'
/Library/Ruby/Gems/1.8/gems/railties-3.0.0/lib/rails/application.rb:77:in `send'
/Library/Ruby/Gems/1.8/gems/railties-3.0.0/lib/rails/application.rb:77:in `method_missing'
/Library/Ruby/Gems/1.8/gems/railties-3.0.0/lib/rails/rack/log_tailer.rb:14:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/handler/webrick.rb:52:in `service'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/webrick/server.rb:162:in `start'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/webrick/server.rb:95:in `start'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/webrick/server.rb:92:in `each'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/webrick/server.rb:92:in `start'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/webrick/server.rb:23:in `start'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/webrick/server.rb:82:in `start'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/handler/webrick.rb:13:in `run'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/server.rb:213:in `start'
/Library/Ruby/Gems/1.8/gems/railties-3.0.0/lib/rails/commands/server.rb:65:in `start'
/Library/Ruby/Gems/1.8/gems/railties-3.0.0/lib/rails/commands.rb:30
/Library/Ruby/Gems/1.8/gems/railties-3.0.0/lib/rails/commands.rb:27:in `tap'
/Library/Ruby/Gems/1.8/gems/railties-3.0.0/lib/rails/commands.rb:27
script/rails:6:in `require'
script/rails:6
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'trailer'.\A         on line 81 of app/stylesheets/./_defaults.sass, in `trailer'\A         from line 81 of app/stylesheets/./_defaults.sass\A         from line 9 of app/stylesheets/print.sass"; }
