/* Reset --------------------------------------------------------------*/
/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p180/bundler/gems/compass-b36952cf30a9/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p180/bundler/gems/compass-b36952cf30a9/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-p180/bundler/gems/compass-b36952cf30a9/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p180/bundler/gems/compass-b36952cf30a9/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../.rvm/gems/ruby-1.9.2-p180/bundler/gems/compass-b36952cf30a9/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../.rvm/gems/ruby-1.9.2-p180/bundler/gems/compass-b36952cf30a9/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../.rvm/gems/ruby-1.9.2-p180/bundler/gems/compass-b36952cf30a9/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p180/bundler/gems/compass-b36952cf30a9/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* HTML5 Reset --------------------------------------------------------------*/
/* line 108, ../../../../../../.rvm/gems/ruby-1.9.2-p180/bundler/gems/compass-b36952cf30a9/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

/* Typography -------------------------------------------------------------- */
/* The following classes are for use with @extend. */
/* line 19, ../../../app/stylesheets/_defaults.sass */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 23, ../../../app/stylesheets/_defaults.sass */
.serif, body, input[type=submit], button {
  font-family: Cambria, Georgia, serif;
}

/* line 26, ../../../app/stylesheets/_defaults.sass */
.sans {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 29, ../../../app/stylesheets/_defaults.sass */
.mono, pre, code, tt {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

/* line 32, ../../../app/stylesheets/_defaults.sass */
.caps, .allcaps, h1, h2, caption, .smallcaps, h4, .nocaps {
  letter-spacing: 0.1em;
}

/* line 35, ../../../app/stylesheets/_defaults.sass */
.allcaps, h1, h2, caption {
  text-transform: uppercase;
}

/* line 39, ../../../app/stylesheets/_defaults.sass */
.smallcaps, h4 {
  font-variant: small-caps;
}

/* line 43, ../../../app/stylesheets/_defaults.sass */
.nocaps {
  text-transform: none;
}

/* line 47, ../../../app/stylesheets/_defaults.sass */
.error {
  color: #db4522;
}

/* Body -------------------------------------------------------------- */
/* line 52, ../../../app/stylesheets/_defaults.sass */
body {
  color: #4c4c4c;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
/* line 65, ../../../app/stylesheets/_defaults.sass */
::-moz-selection {
  color: #4c4c4c;
  background: #bfe0e0;
  text-shadow: none;
}

/* line 70, ../../../app/stylesheets/_defaults.sass */
::selection {
  color: #4c4c4c;
  background: #bfe0e0;
  text-shadow: none;
}

/* Links -------------------------------------------------------------- */
/* line 92, ../../../app/stylesheets/_defaults.sass */
a {
  color: #db8322;
}
/* line 79, ../../../app/stylesheets/_defaults.sass */
a:link, a:visited {
  color: #db8322;
  text-decoration: none;
}
/* line 82, ../../../app/stylesheets/_defaults.sass */
a:link, a:visited, a:hover, a:active {
  outline: none;
}
/* line 84, ../../../app/stylesheets/_defaults.sass */
a:focus, a:hover {
  color: #8bc7c7;
  text-decoration: none;
}
/* line 87, ../../../app/stylesheets/_defaults.sass */
a:active {
  color: #c78b8b;
}
/* line 89, ../../../app/stylesheets/_defaults.sass */
a:focus {
  outline: thin dotted;
}

/* Headings -------------------------------------------------------------- */
/* line 97, ../../../app/stylesheets/_defaults.sass */
h2, h3, h4, h5, h6 {
  margin-bottom: 1.5em;
}

/* line 100, ../../../app/stylesheets/_defaults.sass */
h1 {
  font-size: 1.313em;
  line-height: 1.143em;
  margin-bottom: 1.143em;
}

/* line 104, ../../../app/stylesheets/_defaults.sass */
h1, h2 {
  text-shadow: silver 1px 1px 2px;
}

/* line 108, ../../../app/stylesheets/_defaults.sass */
h3 {
  font-weight: bold;
}

/* line 111, ../../../app/stylesheets/_defaults.sass */
h4 {
  text-transform: lowercase;
}

/* line 115, ../../../app/stylesheets/_defaults.sass */
h5, h6 {
  font-style: italic;
}

/* Inline -------------------------------------------------------------- */
/* line 120, ../../../app/stylesheets/_defaults.sass */
cite, em, dfn, address, i {
  font-style: italic;
}

/* line 123, ../../../app/stylesheets/_defaults.sass */
strong, dfn, b {
  font-weight: bold;
}

/* line 126, ../../../app/stylesheets/_defaults.sass */
sup, sub {
  font-size: smaller;
  line-height: 0;
}

/* line 130, ../../../app/stylesheets/_defaults.sass */
sup {
  vertical-align: super;
}

/* line 133, ../../../app/stylesheets/_defaults.sass */
sub {
  vertical-align: sub;
}

/* line 136, ../../../app/stylesheets/_defaults.sass */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 140, ../../../app/stylesheets/_defaults.sass */
ins {
  text-decoration: underline;
}

/* line 143, ../../../app/stylesheets/_defaults.sass */
del {
  text-decoration: line-through;
}

/* line 146, ../../../app/stylesheets/_defaults.sass */
mark {
  background: #ffff99;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

/* line 151, ../../../app/stylesheets/_defaults.sass */
small {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 154, ../../../app/stylesheets/_defaults.sass */
q {
  font-style: italic;
}
/* line 156, ../../../app/stylesheets/_defaults.sass */
q em {
  font-style: normal;
}

/* Block -------------------------------------------------------------- */
/* line 164, ../../../app/stylesheets/_defaults.sass */
p {
  margin-bottom: 1.5em;
}

/* line 167, ../../../app/stylesheets/_defaults.sass */
pre {
  margin: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 174, ../../../app/stylesheets/_defaults.sass */
blockquote {
  margin: 1.5em;
}

/* Replaced -------------------------------------------------------------- */
/* line 179, ../../../app/stylesheets/_defaults.sass */
img {
  vertical-align: text-middle;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* Lists -------------------------------------------------------------- */
/* line 186, ../../../app/stylesheets/_defaults.sass */
ol, ul {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}
/* line 189, ../../../app/stylesheets/_defaults.sass */
ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0em;
}

/* line 192, ../../../app/stylesheets/_defaults.sass */
ol {
  list-style: decimal;
}

/* line 195, ../../../app/stylesheets/_defaults.sass */
ul {
  list-style: disc;
}
/* line 197, ../../../app/stylesheets/_defaults.sass */
li ul {
  list-style-type: circle;
}

/* line 200, ../../../app/stylesheets/_defaults.sass */
dl {
  margin-bottom: 1.5em;
  margin-top: 0em;
}

/* line 203, ../../../app/stylesheets/_defaults.sass */
dt {
  cursor: pointer;
}
/* line 205, ../../../app/stylesheets/_defaults.sass */
dt p {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  max-width: 80%;
  margin-bottom: 0em;
}
/* line 7, ../../../../../../.rvm/gems/ruby-1.9.2-p180/bundler/gems/compass-b36952cf30a9/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
dt p {
  *display: inline;
}
/* line 209, ../../../app/stylesheets/_defaults.sass */
dt span.arrow {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: top;
}
/* line 7, ../../../../../../.rvm/gems/ruby-1.9.2-p180/bundler/gems/compass-b36952cf30a9/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
dt span.arrow {
  *display: inline;
}
/* line 211, ../../../app/stylesheets/_defaults.sass */
dt span.arrow.rotated {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 215, ../../../app/stylesheets/_defaults.sass */
dd {
  padding-left: 1.5em;
}

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
/* line 221, ../../../app/stylesheets/_defaults.sass */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 227, ../../../app/stylesheets/_defaults.sass */
table, td, th {
  vertical-align: top;
}

/* line 230, ../../../app/stylesheets/_defaults.sass */
th, thead th {
  font-weight: bold;
}

/* line 233, ../../../app/stylesheets/_defaults.sass */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 238, ../../../app/stylesheets/_defaults.sass */
table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}

/* line 241, ../../../app/stylesheets/_defaults.sass */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* Forms -------------------------------------------------------------- */
/* line 249, ../../../app/stylesheets/_defaults.sass */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 253, ../../../app/stylesheets/_defaults.sass */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}

/* line 257, ../../../app/stylesheets/_defaults.sass */
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 260, ../../../app/stylesheets/_defaults.sass */
label.boolean {
  display: inline-block;
  width: 80%;
}

/* line 264, ../../../app/stylesheets/_defaults.sass */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 267, ../../../app/stylesheets/_defaults.sass */
label {
  margin-top: 1.5em;
  display: block;
  font-weight: bold;
}

/* line 274, ../../../app/stylesheets/_defaults.sass */
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: Cambria, Georgia, serif;
  font-size: 1em;
  line-height: 1.5em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  margin-bottom: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 38.5em;
  margin-top: 0;
  border-color: silver;
  -moz-box-shadow: #8bc7c7 0 0 3px 0;
  -webkit-box-shadow: #8bc7c7 0 0 3px 0;
  -o-box-shadow: #8bc7c7 0 0 3px 0;
  box-shadow: #8bc7c7 0 0 3px 0;
  height: 2.571em;
}

/* line 287, ../../../app/stylesheets/_defaults.sass */
textarea {
  height: 11.143em;
  vertical-align: text-bottom;
}

/* line 298, ../../../app/stylesheets/_defaults.sass */
input[type=search] {
  -webkit-appearance: none;
}
/* line 300, ../../../app/stylesheets/_defaults.sass */
input[type=search]::-webkit-search-decoration {
  display: none;
}

/* line 303, ../../../app/stylesheets/_defaults.sass */
button {
  width: auto;
  overflow: visible;
}

/* line 307, ../../../app/stylesheets/_defaults.sass */
input[type=submit], button {
  font-size: 1em;
  line-height: 1.5em;
  background: #db8322;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffb655), color-stop(100%, #ca7211));
  background-image: -moz-linear-gradient(top, #ffb655 0%, #ca7211 100%);
  background-image: linear-gradient(top, #ffb655 0%, #ca7211 100%);
  border: none;
  text-decoration: none;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  padding-left: 2.212%;
  padding-right: 2.212%;
  -moz-box-shadow: #4a4a4a 1px 1px 2px 0;
  -webkit-box-shadow: #4a4a4a 1px 1px 2px 0;
  -o-box-shadow: #4a4a4a 1px 1px 2px 0;
  box-shadow: #4a4a4a 1px 1px 2px 0;
}
/* line 318, ../../../app/stylesheets/_defaults.sass */
input[type=submit]:hover, button:hover {
  -moz-box-shadow: #4a4a4a 0 0 2px 0;
  -webkit-box-shadow: #4a4a4a 0 0 2px 0;
  -o-box-shadow: #4a4a4a 0 0 2px 0;
  box-shadow: #4a4a4a 0 0 2px 0;
}
/* line 320, ../../../app/stylesheets/_defaults.sass */
input[type=submit]:active, button:active {
  -moz-box-shadow: #4a4a4a 1px 1px 1px 0 inset;
  -webkit-box-shadow: #4a4a4a 1px 1px 1px 0 inset;
  -o-box-shadow: #4a4a4a 1px 1px 1px 0 inset;
  box-shadow: #4a4a4a 1px 1px 1px 0 inset;
}
/* line 322, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link, button.link {
  background: transparent;
  -moz-box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
  -o-box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
  box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  cursor: pointer;
  padding: 0;
  display: inline;
  color: #db8322;
}
/* line 325, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:hover, button.link:hover {
  -moz-box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
  -o-box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
  box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
}
/* line 327, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:active, button.link:active {
  -moz-box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
  -o-box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
  box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
}
/* line 79, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:link, input[type=submit].link:visited, button.link:link, button.link:visited {
  color: #db8322;
  text-decoration: none;
}
/* line 82, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:link, input[type=submit].link:visited, input[type=submit].link:hover, input[type=submit].link:active, button.link:link, button.link:visited, button.link:hover, button.link:active {
  outline: none;
}
/* line 84, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:focus, input[type=submit].link:hover, button.link:focus, button.link:hover {
  color: #8bc7c7;
  text-decoration: none;
}
/* line 87, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:active, button.link:active {
  color: #c78b8b;
}
/* line 89, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:focus, button.link:focus {
  outline: thin dotted;
}

/* line 335, ../../../app/stylesheets/_defaults.sass */
form.button_to {
  display: inline;
}
/* line 337, ../../../app/stylesheets/_defaults.sass */
form.button_to div {
  display: inline;
}

/* line 341, ../../../app/stylesheets/_defaults.sass */
span[contenteditable]:hover {
  background-color: #e0ca44;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e7d770), color-stop(100%, #e0ca44));
  background-image: -moz-linear-gradient(top, #e7d770 0%, #e0ca44 100%);
  background-image: linear-gradient(top, #e7d770 0%, #e0ca44 100%);
  cursor: pointer;
}
/* line 345, ../../../app/stylesheets/_defaults.sass */
span[contenteditable]:focus {
  background-color: #e7a863;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #eec18f), color-stop(100%, #e7a863));
  background-image: -moz-linear-gradient(top, #eec18f 0%, #e7a863 100%);
  background-image: linear-gradient(top, #eec18f 0%, #e7a863 100%);
  cursor: text;
  -moz-box-shadow: silver 0 0 3px inset;
  -webkit-box-shadow: silver 0 0 3px inset;
  -o-box-shadow: silver 0 0 3px inset;
  box-shadow: silver 0 0 3px inset;
}

/* line 357, ../../../app/stylesheets/_defaults.sass */
.grayed-out {
  color: silver;
}
/* line 354, ../../../app/stylesheets/_defaults.sass */
.grayed-out a, .grayed-out input.link, .grayed-out input {
  color: silver;
}

/* Print Defaults -------------------------------------------------------------- */
/* line 13, ../../../app/stylesheets/print.sass */
#page > nav, #page > header, body > footer {
  display: none;
}

/* line 16, ../../../app/stylesheets/print.sass */
* {
  background: transparent !important;
  float: none !important;
  text-shadow: none !important;
}

/* line 21, ../../../app/stylesheets/print.sass */
body {
  font-family: Cambria, Georgia, serif;
  font-size: 12pt;
  background: white;
  color: black;
}

/* line 28, ../../../app/stylesheets/print.sass */
a:link, a:visited {
  color: #444444;
  font-weight: bold;
}

/* line 35, ../../../app/stylesheets/print.sass */
abbr:after {
  content: " (" attr(title) ")";
  font-size: smaller;
}

/* line 39, ../../../app/stylesheets/print.sass */
pre, blockquote, img {
  page-break-inside: avoid !important;
}

@page {
  margin: 1cm;
}

/* line 46, ../../../app/stylesheets/print.sass */
p, h2, h3 {
  orphans: 3;
  widows: 3;
}

/* line 50, ../../../app/stylesheets/print.sass */
h2, h3, header {
  page-break-after: avoid;
}

/* line 53, ../../../app/stylesheets/print.sass */
section#packlet {
  margin-top: 24pt;
}

/* line 56, ../../../app/stylesheets/print.sass */
li.packlet, li.submission {
  margin-bottom: 24pt;
}
/* line 58, ../../../app/stylesheets/print.sass */
li.packlet ul, li.submission ul {
  list-style-type: disc;
}
/* line 60, ../../../app/stylesheets/print.sass */
li.packlet ol, li.packlet ul, li.submission ol, li.submission ul {
  margin-bottom: 12pt;
}
/* line 62, ../../../app/stylesheets/print.sass */
li.packlet ol ol, li.packlet ol ul, li.packlet ul ol, li.packlet ul ul, li.submission ol ol, li.submission ol ul, li.submission ul ol, li.submission ul ul {
  margin-bottom: 0;
}
/* line 64, ../../../app/stylesheets/print.sass */
li.packlet > footer, li.submission > footer {
  color: silver;
  margin-top: 12pt;
}
/* line 67, ../../../app/stylesheets/print.sass */
li.packlet > footer img, li.submission > footer img {
  display: none;
}
/* line 69, ../../../app/stylesheets/print.sass */
li.packlet > footer p, li.submission > footer p {
  margin-bottom: 0;
}
/* line 71, ../../../app/stylesheets/print.sass */
li.packlet > footer nav.actions, li.submission > footer nav.actions {
  display: none;
}

/* line 74, ../../../app/stylesheets/print.sass */
span.drag-handle, section#attendance, input, article > header > div {
  display: none !important;
}
