/* Reset --------------------------------------------------------------*/
/* line 14, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* HTML5 Reset --------------------------------------------------------------*/
/* line 107, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Typography -------------------------------------------------------------- */
/* The following classes are for use with @extend. */
/* line 19, ../../../app/stylesheets/_defaults.sass */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 23, ../../../app/stylesheets/_defaults.sass */
.serif, body {
  font-family: Cambria, Georgia, serif;
}

/* line 26, ../../../app/stylesheets/_defaults.sass */
.sans {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 29, ../../../app/stylesheets/_defaults.sass */
.mono, pre, code, tt {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

/* line 32, ../../../app/stylesheets/_defaults.sass */
.caps, .allcaps, h1, h2, caption, .smallcaps, h4 {
  letter-spacing: 0.1em;
}

/* line 35, ../../../app/stylesheets/_defaults.sass */
.allcaps, h1, h2, caption {
  text-transform: uppercase;
}

/* line 39, ../../../app/stylesheets/_defaults.sass */
.smallcaps, h4 {
  font-variant: small-caps;
}

/* Body -------------------------------------------------------------- */
/* line 45, ../../../app/stylesheets/_defaults.sass */
body {
  color: #4c4c4c;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
/* line 58, ../../../app/stylesheets/_defaults.sass */
::-moz-selection {
  color: white;
  background: #cfb309;
  text-shadow: none;
}

/* line 63, ../../../app/stylesheets/_defaults.sass */
::selection {
  color: white;
  background: #cfb309;
  text-shadow: none;
}

/* Links -------------------------------------------------------------- */
/* line 71, ../../../app/stylesheets/_defaults.sass */
a:link, a:visited {
  color: #db8322;
  text-decoration: none;
}
/* line 74, ../../../app/stylesheets/_defaults.sass */
a:link, a:visited, a:hover, a:active {
  outline: none;
}
/* line 76, ../../../app/stylesheets/_defaults.sass */
a:focus, a:hover {
  color: #8bc7c7;
  text-decoration: none;
}
/* line 79, ../../../app/stylesheets/_defaults.sass */
a:active {
  color: #c78b8b;
}
/* line 81, ../../../app/stylesheets/_defaults.sass */
a:focus {
  outline: thin dotted;
}

/* Headings -------------------------------------------------------------- */
/* line 89, ../../../app/stylesheets/_defaults.sass */
h2, h3, h4, h5, h6 {
  margin-bottom: 1.5em;
}

/* line 92, ../../../app/stylesheets/_defaults.sass */
h1 {
  font-size: 1.313em;
  line-height: 1.143em;
  margin-bottom: 1.143em;
}

/* line 96, ../../../app/stylesheets/_defaults.sass */
h1, h2 {
  text-shadow: silver 1px 1px 2px;
}

/* line 100, ../../../app/stylesheets/_defaults.sass */
h3 {
  font-weight: bold;
}

/* line 103, ../../../app/stylesheets/_defaults.sass */
h4 {
  text-transform: lowercase;
}

/* line 107, ../../../app/stylesheets/_defaults.sass */
h5, h6 {
  font-style: italic;
}

/* Inline -------------------------------------------------------------- */
/* line 112, ../../../app/stylesheets/_defaults.sass */
cite, em, dfn, address, i {
  font-style: italic;
}

/* line 115, ../../../app/stylesheets/_defaults.sass */
strong, dfn, b {
  font-weight: bold;
}

/* line 118, ../../../app/stylesheets/_defaults.sass */
sup, sub {
  font-size: smaller;
  line-height: 0;
}

/* line 122, ../../../app/stylesheets/_defaults.sass */
sup {
  vertical-align: super;
}

/* line 125, ../../../app/stylesheets/_defaults.sass */
sub {
  vertical-align: sub;
}

/* line 128, ../../../app/stylesheets/_defaults.sass */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 132, ../../../app/stylesheets/_defaults.sass */
ins {
  text-decoration: underline;
}

/* line 135, ../../../app/stylesheets/_defaults.sass */
del {
  text-decoration: line-through;
}

/* line 138, ../../../app/stylesheets/_defaults.sass */
mark {
  background: #ffff99;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

/* line 143, ../../../app/stylesheets/_defaults.sass */
small {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 146, ../../../app/stylesheets/_defaults.sass */
q {
  font-style: italic;
}
/* line 148, ../../../app/stylesheets/_defaults.sass */
q em {
  font-style: normal;
}

/* Block -------------------------------------------------------------- */
/* line 156, ../../../app/stylesheets/_defaults.sass */
p {
  margin-bottom: 1.5em;
}

/* line 159, ../../../app/stylesheets/_defaults.sass */
pre {
  margin: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 166, ../../../app/stylesheets/_defaults.sass */
blockquote {
  margin: 1.5em;
  font-style: italic;
}

/* Replaced -------------------------------------------------------------- */
/* line 172, ../../../app/stylesheets/_defaults.sass */
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* Lists -------------------------------------------------------------- */
/* line 179, ../../../app/stylesheets/_defaults.sass */
ol, ul, dl {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

/* line 183, ../../../app/stylesheets/_defaults.sass */
ol {
  list-style: decimal;
}

/* line 186, ../../../app/stylesheets/_defaults.sass */
ul {
  list-style: disc;
}
/* line 188, ../../../app/stylesheets/_defaults.sass */
li ul {
  list-style-type: circle;
}

/* line 191, ../../../app/stylesheets/_defaults.sass */
dt {
  margin-top: 1.5em;
  font-style: italic;
}

/* line 195, ../../../app/stylesheets/_defaults.sass */
dd {
  padding-left: 1.5em;
}

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
/* line 201, ../../../app/stylesheets/_defaults.sass */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 207, ../../../app/stylesheets/_defaults.sass */
table, td, th {
  vertical-align: top;
}

/* line 210, ../../../app/stylesheets/_defaults.sass */
th, thead th {
  font-weight: bold;
}

/* line 213, ../../../app/stylesheets/_defaults.sass */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 218, ../../../app/stylesheets/_defaults.sass */
table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}

/* line 221, ../../../app/stylesheets/_defaults.sass */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* Forms -------------------------------------------------------------- */
/* line 229, ../../../app/stylesheets/_defaults.sass */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 233, ../../../app/stylesheets/_defaults.sass */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}

/* line 237, ../../../app/stylesheets/_defaults.sass */
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 240, ../../../app/stylesheets/_defaults.sass */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 243, ../../../app/stylesheets/_defaults.sass */
label {
  font-weight: bold;
}

/* line 248, ../../../app/stylesheets/_defaults.sass */
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  margin-bottom: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  border-color: #4c4c4c;
  height: 2.571em;
}

/* line 259, ../../../app/stylesheets/_defaults.sass */
textarea {
  height: 11.143em;
  vertical-align: text-bottom;
}

/* line 270, ../../../app/stylesheets/_defaults.sass */
input[type=search] {
  -webkit-appearance: none;
}
/* line 272, ../../../app/stylesheets/_defaults.sass */
input[type=search]::-webkit-search-decoration {
  display: none;
}

/* line 275, ../../../app/stylesheets/_defaults.sass */
button {
  width: auto;
  overflow: visible;
}

/* line 7, ../../../app/stylesheets/_form.sass */
textarea, input[type=text], input[type=password] {
  padding: 0.3em 0.4em !important;
  border: 1px solid silver;
  -moz-box-shadow: #8bc7c7 0 0 3px 0;
  -webkit-box-shadow: #8bc7c7 0 0 3px 0;
  -o-box-shadow: #8bc7c7 0 0 3px 0;
  box-shadow: #8bc7c7 0 0 3px 0;
}

/* line 10, ../../../app/stylesheets/_form.sass */
input[type=submit], button {
  background: #db8322;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffb655), color-stop(100%, #ca7211));
  background-image: -moz-linear-gradient(top, #ffb655 0%, #ca7211 100%);
  background-image: linear-gradient(top, #ffb655 0%, #ca7211 100%);
  border: none;
  padding: 3px 9px !important;
  text-decoration: none;
  -moz-box-shadow: #4a4a4a 1px 1px 2px 0;
  -webkit-box-shadow: #4a4a4a 1px 1px 2px 0;
  -o-box-shadow: #4a4a4a 1px 1px 2px 0;
  box-shadow: #4a4a4a 1px 1px 2px 0;
}
/* line 17, ../../../app/stylesheets/_form.sass */
input[type=submit]:hover, button:hover {
  -moz-box-shadow: #4a4a4a 0 0 2px 0;
  -webkit-box-shadow: #4a4a4a 0 0 2px 0;
  -o-box-shadow: #4a4a4a 0 0 2px 0;
  box-shadow: #4a4a4a 0 0 2px 0;
  color: black;
}
/* line 20, ../../../app/stylesheets/_form.sass */
input[type=submit]:active, button:active {
  -moz-box-shadow: #4a4a4a 1px 1px 1px 0 inset;
  -webkit-box-shadow: #4a4a4a 1px 1px 1px 0 inset;
  -o-box-shadow: #4a4a4a 1px 1px 1px 0 inset;
  box-shadow: #4a4a4a 1px 1px 1px 0 inset;
  color: black;
}
/* line 23, ../../../app/stylesheets/_form.sass */
input[type=submit].link, button.link {
  font-size: 100% !important;
  background: transparent;
  -moz-box-shadow: black 0 0 0 0;
  -webkit-box-shadow: black 0 0 0 0;
  -o-box-shadow: black 0 0 0 0;
  box-shadow: black 0 0 0 0;
  cursor: pointer;
  padding: 0 !important;
  display: inline;
}

/* line 31, ../../../app/stylesheets/_form.sass */
form.button_to {
  display: inline;
}
/* line 33, ../../../app/stylesheets/_form.sass */
form.button_to div {
  display: inline;
}

/* line 71, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:link, input[type=submit].link:visited {
  color: #db8322;
  text-decoration: none;
}
/* line 74, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:link, input[type=submit].link:visited, input[type=submit].link:hover, input[type=submit].link:active {
  outline: none;
}
/* line 76, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:focus, input[type=submit].link:hover {
  color: #8bc7c7;
  text-decoration: none;
}
/* line 79, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:active {
  color: #c78b8b;
}
/* line 81, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:focus {
  outline: thin dotted;
}

/* line 40, ../../../app/stylesheets/_form.sass */
form.formtastic fieldset.inputs > ol > li > label {
  display: inline;
  float: left;
  width: 30.088%;
  margin-right: 0.885%;
}
/* line 42, ../../../app/stylesheets/_form.sass */
form.formtastic fieldset.inputs > ol > li > input {
  display: inline;
  float: left;
  width: 67.257%;
  margin-right: 0.885%;
}

/* line 45, ../../../app/stylesheets/_form.sass */
li.cancel {
  margin-left: 2em !important;
}

/* line 47, ../../../app/stylesheets/_form.sass */
form.formtastic fieldset > ol > li p.inline-errors {
  margin-left: 0;
}

/* line 50, ../../../app/stylesheets/_form.sass */
.watermark {
  color: silver;
  font-style: italic;
}

/* line 54, ../../../app/stylesheets/_form.sass */
#search_box {
  margin: 0 auto;
}
/* line 56, ../../../app/stylesheets/_form.sass */
#search_box input[type="submit"] {
  display: none;
}

/* line 59, ../../../app/stylesheets/_form.sass */
#errorExplanation, #notice {
  border: 1px solid #db4522;
  padding: 0.5em;
  background: #ffcdaa;
  margin-bottom: 20px;
  width: 100%;
}
/* line 65, ../../../app/stylesheets/_form.sass */
#errorExplanation h3, #notice h3 {
  font-size: 1.5em;
}
/* line 67, ../../../app/stylesheets/_form.sass */
#errorExplanation ul, #notice ul {
  list-style: none inside none;
}

/* line 70, ../../../app/stylesheets/_form.sass */
#notice {
  margin-top: 1em;
  border-color: #8bc7c7;
  background-color: #e0ffff;
}

/* Layout -------------------------------------------------------------- */
/* line 29, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-susy-plugin-0.8.1/sass/susy/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 33, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-susy-plugin-0.8.1/sass/susy/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* Styles -------------------------------------------------------------- */
/* line 10, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#page {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -6em;
}
/* line 18, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#page #page-footer {
  height: 6em;
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer {
  clear: both;
  position: relative;
  height: 6em;
}

/* line 26, ../../../app/stylesheets/screen.sass */
#page {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 56.5em;
  max-width: 100%;
}
/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#page:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 30, ../../../app/stylesheets/screen.sass */
#page > nav {
  clear: both;
  margin-right: 0.885%;
  margin-left: 0.885%;
}
/* line 32, ../../../app/stylesheets/screen.sass */
#page > nav > ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
/* line 35, ../../../app/stylesheets/screen.sass */
#page > nav > ul > li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  white-space: nowrap;
  font-size: 1.25em;
  line-height: 2.4em;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  display: block;
  text-shadow: silver 1px 1px 2px;
  text-align: center;
}
/* line 41, ../../../app/stylesheets/screen.sass */
#page > nav > ul > li:first-child {
  text-align: left;
}
/* line 43, ../../../app/stylesheets/screen.sass */
#page > nav > ul > li:last-child {
  text-align: right;
}
/* line 45, ../../../app/stylesheets/screen.sass */
#page > nav > ul > li.current {
  text-shadow: silver 1px 1px 2px;
  color: #db8322;
  text-decoration: underline overline line-through;
}
/* line 49, ../../../app/stylesheets/screen.sass */
#page > nav > ul > li > a {
  color: #cfb309;
  text-decoration: underline overline;
}
/* line 52, ../../../app/stylesheets/screen.sass */
#page > nav > ul > li > a:hover {
  text-decoration: underline overline line-through;
}
/* line 55, ../../../app/stylesheets/screen.sass */
#page > nav > ul > li > ul#account {
  list-style: none;
  font-size: 0.813em;
  line-height: 1.292em;
}
/* line 11, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
#page > nav > ul > li > ul#account li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 59, ../../../app/stylesheets/screen.sass */
#page > header {
  clear: both;
  margin-right: 0.885%;
  margin-left: 0.885%;
  background-color: #8bc7c7;
  text-align: center;
  -moz-border-radius: 20px 0;
  -webkit-border-radius: 20px 0;
  -o-border-radius: 20px 0;
  -ms-border-radius: 20px 0;
  -khtml-border-radius: 20px 0;
  border-radius: 20px 0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #bfe0e0), color-stop(100%, #8bc7c7));
  background-image: -moz-linear-gradient(top, #bfe0e0 0%, #8bc7c7 100%);
  background-image: linear-gradient(top, #bfe0e0 0%, #8bc7c7 100%);
}
/* line 66, ../../../app/stylesheets/screen.sass */
#page > header h1 {
  font-size: 1.938em;
  line-height: 1.548em;
  margin-bottom: 0em;
}
/* line 70, ../../../app/stylesheets/screen.sass */
#page > aside {
  display: inline;
  float: left;
  width: 30.088%;
  margin-right: 0.885%;
  display: inline;
  float: right;
  margin-right: 0.885%;
  #margin-left: -0.5em;
}
/* line 74, ../../../app/stylesheets/screen.sass */
#page > article {
  display: inline;
  float: left;
  width: 67.257%;
  margin-right: 0.885%;
  margin-left: 0.885%;
}

/* line 78, ../../../app/stylesheets/screen.sass */
footer {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 56.5em;
  max-width: 100%;
}
/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
footer:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 81, ../../../app/stylesheets/screen.sass */
footer > #footer {
  clear: both;
  margin-right: 0.885%;
  margin-left: 0.885%;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #9ec429), color-stop(100%, #6b851c));
  background-image: -moz-linear-gradient(top, #9ec429 0%, #6b851c 100%);
  background-image: linear-gradient(top, #9ec429 0%, #6b851c 100%);
  -moz-border-radius: 0 20px;
  -webkit-border-radius: 0 20px;
  -o-border-radius: 0 20px;
  -ms-border-radius: 0 20px;
  -khtml-border-radius: 0 20px;
  border-radius: 0 20px;
  font-size: 0.875em;
  line-height: 5.143em;
  text-align: center;
  background-color: #8daf25;
}
/* line 71, ../../../app/stylesheets/_defaults.sass */
footer > #footer a:link, footer > #footer a:visited {
  color: yellow;
  text-decoration: none;
}
/* line 74, ../../../app/stylesheets/_defaults.sass */
footer > #footer a:link, footer > #footer a:visited, footer > #footer a:hover, footer > #footer a:active {
  outline: none;
}
/* line 76, ../../../app/stylesheets/_defaults.sass */
footer > #footer a:focus, footer > #footer a:hover {
  color: #8bc7c7;
  text-decoration: none;
}
/* line 79, ../../../app/stylesheets/_defaults.sass */
footer > #footer a:active {
  color: #c78b8b;
}
/* line 81, ../../../app/stylesheets/_defaults.sass */
footer > #footer a:focus {
  outline: thin dotted;
}
