/* Reset --------------------------------------------------------------*/
/* line 14, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* HTML5 Reset --------------------------------------------------------------*/
/* line 107, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Typography -------------------------------------------------------------- */
/* The following classes are for use with @extend. */
/* line 16, app/stylesheets/./_defaults.sass */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 20, app/stylesheets/./_defaults.sass */
.serif, body {
  font-family: Cambria, Georgia, serif;
}

/* line 23, app/stylesheets/./_defaults.sass */
.sans {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 26, app/stylesheets/./_defaults.sass */
.mono, pre, code, tt {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

/* line 29, app/stylesheets/./_defaults.sass */
.caps, .allcaps, h1, h2, caption, .smallcaps, h4 {
  letter-spacing: 0.1em;
}

/* line 32, app/stylesheets/./_defaults.sass */
.allcaps, h1, h2, caption {
  text-transform: uppercase;
}

/* line 36, app/stylesheets/./_defaults.sass */
.smallcaps, h4 {
  font-variant: small-caps;
}

/* Body -------------------------------------------------------------- */
/* line 42, app/stylesheets/./_defaults.sass */
body {
  color: #4c4c4c;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
/* line 55, app/stylesheets/./_defaults.sass */
::-moz-selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* line 60, app/stylesheets/./_defaults.sass */
::selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* Links -------------------------------------------------------------- */
/* line 68, app/stylesheets/./_defaults.sass */
a:link, a:visited {
  color: #005498;
}
/* line 70, app/stylesheets/./_defaults.sass */
a:link, a:visited, a:hover, a:active {
  outline: none;
}
/* line 72, app/stylesheets/./_defaults.sass */
a:focus, a:hover, a:active {
  color: #984400;
  text-decoration: none;
}
/* line 75, app/stylesheets/./_defaults.sass */
a:focus {
  outline: thin dotted;
}

/* Headings -------------------------------------------------------------- */
/* line 80, app/stylesheets/./_defaults.sass */
h2, h3, h4, h5, h6 {
  margin-bottom: 1.5em;
}

/* line 83, app/stylesheets/./_defaults.sass */
h1 {
  font-size: 1.313em;
  line-height: 1.143em;
  margin-bottom: 1.143em;
}

/* line 90, app/stylesheets/./_defaults.sass */
h3 {
  font-weight: bold;
}

/* line 93, app/stylesheets/./_defaults.sass */
h4 {
  text-transform: lowercase;
}

/* line 97, app/stylesheets/./_defaults.sass */
h5, h6 {
  font-style: italic;
}

/* Inline -------------------------------------------------------------- */
/* line 102, app/stylesheets/./_defaults.sass */
cite, em, dfn, address, i {
  font-style: italic;
}

/* line 105, app/stylesheets/./_defaults.sass */
strong, dfn, b {
  font-weight: bold;
}

/* line 108, app/stylesheets/./_defaults.sass */
sup, sub {
  font-size: smaller;
  line-height: 0;
}

/* line 112, app/stylesheets/./_defaults.sass */
sup {
  vertical-align: super;
}

/* line 115, app/stylesheets/./_defaults.sass */
sub {
  vertical-align: sub;
}

/* line 118, app/stylesheets/./_defaults.sass */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 122, app/stylesheets/./_defaults.sass */
ins {
  text-decoration: underline;
}

/* line 125, app/stylesheets/./_defaults.sass */
del {
  text-decoration: line-through;
}

/* line 128, app/stylesheets/./_defaults.sass */
mark {
  background: #ffff99;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

/* line 133, app/stylesheets/./_defaults.sass */
small {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 136, app/stylesheets/./_defaults.sass */
q {
  font-style: italic;
}
/* line 138, app/stylesheets/./_defaults.sass */
q em {
  font-style: normal;
}

/* Block -------------------------------------------------------------- */
/* line 146, app/stylesheets/./_defaults.sass */
p {
  margin-bottom: 1.5em;
}

/* line 149, app/stylesheets/./_defaults.sass */
pre {
  margin: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 156, app/stylesheets/./_defaults.sass */
blockquote {
  margin: 1.5em;
  font-style: italic;
}

/* Replaced -------------------------------------------------------------- */
/* line 162, app/stylesheets/./_defaults.sass */
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* Lists -------------------------------------------------------------- */
/* line 169, app/stylesheets/./_defaults.sass */
ol, ul, dl {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

/* line 173, app/stylesheets/./_defaults.sass */
ol {
  list-style: decimal;
}

/* line 176, app/stylesheets/./_defaults.sass */
ul {
  list-style: disc;
}
/* line 178, app/stylesheets/./_defaults.sass */
li ul {
  list-style-type: circle;
}

/* line 181, app/stylesheets/./_defaults.sass */
dt {
  margin-top: 1.5em;
  font-style: italic;
}

/* line 185, app/stylesheets/./_defaults.sass */
dd {
  padding-left: 1.5em;
}

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
/* line 191, app/stylesheets/./_defaults.sass */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 197, app/stylesheets/./_defaults.sass */
table, td, th {
  vertical-align: top;
}

/* line 200, app/stylesheets/./_defaults.sass */
th, thead th {
  font-weight: bold;
}

/* line 203, app/stylesheets/./_defaults.sass */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 208, app/stylesheets/./_defaults.sass */
table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}

/* line 211, app/stylesheets/./_defaults.sass */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* Forms -------------------------------------------------------------- */
/* line 219, app/stylesheets/./_defaults.sass */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 223, app/stylesheets/./_defaults.sass */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}

/* line 227, app/stylesheets/./_defaults.sass */
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 230, app/stylesheets/./_defaults.sass */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 233, app/stylesheets/./_defaults.sass */
label {
  font-weight: bold;
}

/* line 238, app/stylesheets/./_defaults.sass */
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  margin-bottom: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  border-color: #4c4c4c;
  height: 2.571em;
}

/* line 249, app/stylesheets/./_defaults.sass */
textarea {
  height: 11.143em;
  vertical-align: text-bottom;
}

/* line 260, app/stylesheets/./_defaults.sass */
input[type=search] {
  -webkit-appearance: none;
}
/* line 262, app/stylesheets/./_defaults.sass */
input[type=search]::-webkit-search-decoration {
  display: none;
}

/* line 265, app/stylesheets/./_defaults.sass */
button {
  width: auto;
  overflow: visible;
}

/* Layout -------------------------------------------------------------- */
/* line 29, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-susy-plugin-0.8.1/sass/susy/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 33, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-susy-plugin-0.8.1/sass/susy/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 13, ../../../app/stylesheets/screen.sass */
.container {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 61em;
  max-width: 100%;
  background-image: url('/images/grid.png?1286571170');
  background-repeat: repeat;
  background-position: 1em 0;
}
/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* Styles -------------------------------------------------------------- */
