@charset "UTF-8";
/* Reset --------------------------------------------------------------*/
/* line 14, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* HTML5 Reset --------------------------------------------------------------*/
/* line 108, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

/* Typography -------------------------------------------------------------- */
/* The following classes are for use with @extend. */
/* line 19, ../../../app/stylesheets/_defaults.sass */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 23, ../../../app/stylesheets/_defaults.sass */
.serif, body, input[type=submit], button {
  font-family: Cambria, Georgia, serif;
}

/* line 26, ../../../app/stylesheets/_defaults.sass */
.sans {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 29, ../../../app/stylesheets/_defaults.sass */
.mono, pre, code, tt {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

/* line 32, ../../../app/stylesheets/_defaults.sass */
.caps, .allcaps, h1, h2, caption, .smallcaps, h4, .nocaps {
  letter-spacing: 0.1em;
}

/* line 35, ../../../app/stylesheets/_defaults.sass */
.allcaps, h1, h2, caption {
  text-transform: uppercase;
}

/* line 39, ../../../app/stylesheets/_defaults.sass */
.smallcaps, h4 {
  font-variant: small-caps;
}

/* line 43, ../../../app/stylesheets/_defaults.sass */
.nocaps {
  text-transform: none;
}

/* Body -------------------------------------------------------------- */
/* line 49, ../../../app/stylesheets/_defaults.sass */
body {
  color: #4c4c4c;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
/* line 62, ../../../app/stylesheets/_defaults.sass */
::-moz-selection {
  color: #4c4c4c;
  background: #bfe0e0;
  text-shadow: none;
}

/* line 67, ../../../app/stylesheets/_defaults.sass */
::selection {
  color: #4c4c4c;
  background: #bfe0e0;
  text-shadow: none;
}

/* Links -------------------------------------------------------------- */
/* line 89, ../../../app/stylesheets/_defaults.sass */
a {
  color: #db8322;
}
/* line 76, ../../../app/stylesheets/_defaults.sass */
a:link, a:visited {
  color: #db8322;
  text-decoration: none;
}
/* line 79, ../../../app/stylesheets/_defaults.sass */
a:link, a:visited, a:hover, a:active {
  outline: none;
}
/* line 81, ../../../app/stylesheets/_defaults.sass */
a:focus, a:hover {
  color: #8bc7c7;
  text-decoration: none;
}
/* line 84, ../../../app/stylesheets/_defaults.sass */
a:active {
  color: #c78b8b;
}
/* line 86, ../../../app/stylesheets/_defaults.sass */
a:focus {
  outline: thin dotted;
}

/* Headings -------------------------------------------------------------- */
/* line 94, ../../../app/stylesheets/_defaults.sass */
h2, h3, h4, h5, h6 {
  margin-bottom: 1.5em;
}

/* line 97, ../../../app/stylesheets/_defaults.sass */
h1 {
  font-size: 1.313em;
  line-height: 1.143em;
  margin-bottom: 1.143em;
}

/* line 101, ../../../app/stylesheets/_defaults.sass */
h1, h2 {
  text-shadow: silver 1px 1px 2px;
}

/* line 105, ../../../app/stylesheets/_defaults.sass */
h3 {
  font-weight: bold;
}

/* line 108, ../../../app/stylesheets/_defaults.sass */
h4 {
  text-transform: lowercase;
}

/* line 112, ../../../app/stylesheets/_defaults.sass */
h5, h6 {
  font-style: italic;
}

/* Inline -------------------------------------------------------------- */
/* line 117, ../../../app/stylesheets/_defaults.sass */
cite, em, dfn, address, i {
  font-style: italic;
}

/* line 120, ../../../app/stylesheets/_defaults.sass */
strong, dfn, b {
  font-weight: bold;
}

/* line 123, ../../../app/stylesheets/_defaults.sass */
sup, sub {
  font-size: smaller;
  line-height: 0;
}

/* line 127, ../../../app/stylesheets/_defaults.sass */
sup {
  vertical-align: super;
}

/* line 130, ../../../app/stylesheets/_defaults.sass */
sub {
  vertical-align: sub;
}

/* line 133, ../../../app/stylesheets/_defaults.sass */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 137, ../../../app/stylesheets/_defaults.sass */
ins {
  text-decoration: underline;
}

/* line 140, ../../../app/stylesheets/_defaults.sass */
del {
  text-decoration: line-through;
}

/* line 143, ../../../app/stylesheets/_defaults.sass */
mark {
  background: #ffff99;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

/* line 148, ../../../app/stylesheets/_defaults.sass */
small {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 151, ../../../app/stylesheets/_defaults.sass */
q {
  font-style: italic;
}
/* line 153, ../../../app/stylesheets/_defaults.sass */
q em {
  font-style: normal;
}

/* Block -------------------------------------------------------------- */
/* line 161, ../../../app/stylesheets/_defaults.sass */
p {
  margin-bottom: 1.5em;
}

/* line 164, ../../../app/stylesheets/_defaults.sass */
pre {
  margin: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 171, ../../../app/stylesheets/_defaults.sass */
blockquote {
  margin: 1.5em;
}

/* Replaced -------------------------------------------------------------- */
/* line 176, ../../../app/stylesheets/_defaults.sass */
img {
  vertical-align: text-middle;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* Lists -------------------------------------------------------------- */
/* line 183, ../../../app/stylesheets/_defaults.sass */
ol, ul {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}
/* line 186, ../../../app/stylesheets/_defaults.sass */
ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0em;
}

/* line 189, ../../../app/stylesheets/_defaults.sass */
ol {
  list-style: decimal;
}

/* line 192, ../../../app/stylesheets/_defaults.sass */
ul {
  list-style: disc;
}
/* line 194, ../../../app/stylesheets/_defaults.sass */
li ul {
  list-style-type: circle;
}

/* line 197, ../../../app/stylesheets/_defaults.sass */
dl {
  margin-bottom: 1.5em;
  margin-top: 0em;
}

/* line 200, ../../../app/stylesheets/_defaults.sass */
dt {
  cursor: pointer;
}
/* line 202, ../../../app/stylesheets/_defaults.sass */
dt p {
  display: inline;
}
/* line 204, ../../../app/stylesheets/_defaults.sass */
dt span.arrow {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
dt span.arrow {
  *display: inline;
}
/* line 206, ../../../app/stylesheets/_defaults.sass */
dt span.arrow.rotated {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 209, ../../../app/stylesheets/_defaults.sass */
dd {
  padding-left: 1.5em;
}

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
/* line 215, ../../../app/stylesheets/_defaults.sass */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 221, ../../../app/stylesheets/_defaults.sass */
table, td, th {
  vertical-align: top;
}

/* line 224, ../../../app/stylesheets/_defaults.sass */
th, thead th {
  font-weight: bold;
}

/* line 227, ../../../app/stylesheets/_defaults.sass */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 232, ../../../app/stylesheets/_defaults.sass */
table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}

/* line 235, ../../../app/stylesheets/_defaults.sass */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* Forms -------------------------------------------------------------- */
/* line 243, ../../../app/stylesheets/_defaults.sass */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 247, ../../../app/stylesheets/_defaults.sass */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}

/* line 251, ../../../app/stylesheets/_defaults.sass */
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 254, ../../../app/stylesheets/_defaults.sass */
label.boolean {
  display: inline-block;
  width: 80%;
}

/* line 258, ../../../app/stylesheets/_defaults.sass */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 261, ../../../app/stylesheets/_defaults.sass */
label {
  margin-top: 1.5em;
  display: block;
  font-weight: bold;
}

/* line 268, ../../../app/stylesheets/_defaults.sass */
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: Cambria, Georgia, serif;
  font-size: 1em;
  line-height: 1.5em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  margin-bottom: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 38.5em;
  margin-top: 0;
  border-color: silver;
  -moz-box-shadow: #8bc7c7 0 0 3px 0;
  -webkit-box-shadow: #8bc7c7 0 0 3px 0;
  -o-box-shadow: #8bc7c7 0 0 3px 0;
  box-shadow: #8bc7c7 0 0 3px 0;
  height: 2.571em;
}

/* line 281, ../../../app/stylesheets/_defaults.sass */
textarea {
  height: 11.143em;
  vertical-align: text-bottom;
}

/* line 292, ../../../app/stylesheets/_defaults.sass */
input[type=search] {
  -webkit-appearance: none;
}
/* line 294, ../../../app/stylesheets/_defaults.sass */
input[type=search]::-webkit-search-decoration {
  display: none;
}

/* line 297, ../../../app/stylesheets/_defaults.sass */
button {
  width: auto;
  overflow: visible;
}

/* line 301, ../../../app/stylesheets/_defaults.sass */
input[type=submit], button {
  font-size: 1em;
  line-height: 1.5em;
  background: #db8322;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffb655), color-stop(100%, #ca7211));
  background-image: -moz-linear-gradient(top, #ffb655 0%, #ca7211 100%);
  background-image: linear-gradient(top, #ffb655 0%, #ca7211 100%);
  border: none;
  text-decoration: none;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  padding-left: 2.212%;
  padding-right: 2.212%;
  -moz-box-shadow: #4a4a4a 1px 1px 2px 0;
  -webkit-box-shadow: #4a4a4a 1px 1px 2px 0;
  -o-box-shadow: #4a4a4a 1px 1px 2px 0;
  box-shadow: #4a4a4a 1px 1px 2px 0;
}
/* line 312, ../../../app/stylesheets/_defaults.sass */
input[type=submit]:hover, button:hover {
  -moz-box-shadow: #4a4a4a 0 0 2px 0;
  -webkit-box-shadow: #4a4a4a 0 0 2px 0;
  -o-box-shadow: #4a4a4a 0 0 2px 0;
  box-shadow: #4a4a4a 0 0 2px 0;
  color: #4c4c4c;
}
/* line 315, ../../../app/stylesheets/_defaults.sass */
input[type=submit]:active, button:active {
  -moz-box-shadow: #4a4a4a 1px 1px 1px 0 inset;
  -webkit-box-shadow: #4a4a4a 1px 1px 1px 0 inset;
  -o-box-shadow: #4a4a4a 1px 1px 1px 0 inset;
  box-shadow: #4a4a4a 1px 1px 1px 0 inset;
  color: #4c4c4c;
}
/* line 318, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link, button.link {
  background: transparent;
  -moz-box-shadow: black 0 0 0 0;
  -webkit-box-shadow: black 0 0 0 0;
  -o-box-shadow: black 0 0 0 0;
  box-shadow: black 0 0 0 0;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  cursor: pointer;
  padding: 0;
  display: inline;
  color: #db8322;
}
/* line 76, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:link, input[type=submit].link:visited, button.link:link, button.link:visited {
  color: #db8322;
  text-decoration: none;
}
/* line 79, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:link, input[type=submit].link:visited, input[type=submit].link:hover, input[type=submit].link:active, button.link:link, button.link:visited, button.link:hover, button.link:active {
  outline: none;
}
/* line 81, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:focus, input[type=submit].link:hover, button.link:focus, button.link:hover {
  color: #8bc7c7;
  text-decoration: none;
}
/* line 84, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:active, button.link:active {
  color: #c78b8b;
}
/* line 86, ../../../app/stylesheets/_defaults.sass */
input[type=submit].link:focus, button.link:focus {
  outline: thin dotted;
}

/* line 327, ../../../app/stylesheets/_defaults.sass */
form.button_to {
  display: inline;
}
/* line 329, ../../../app/stylesheets/_defaults.sass */
form.button_to div {
  display: inline;
}

/* Layout -------------------------------------------------------------- */
/* line 29, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-susy-plugin-0.8.1/sass/susy/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 33, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-susy-plugin-0.8.1/sass/susy/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* Styles -------------------------------------------------------------- */
/* Layout ----------------------------------------- */
/* line 10, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#page {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -6em;
}
/* line 18, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#page #page-footer {
  height: 6em;
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
body > footer {
  clear: both;
  position: relative;
  height: 6em;
}

/* line 20, ../../../app/stylesheets/screen.sass */
#page {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 56.5em;
  max-width: 100%;
}
/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#page:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 28, ../../../app/stylesheets/screen.sass */
#page > nav {
  clear: both;
  margin-right: 0.885%;
  margin-left: 0.885%;
}
/* line 30, ../../../app/stylesheets/screen.sass */
#page > nav > ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-lines: multiple;
  -webkit-box-lines: multiple;
  box-lines: multiple;
  width: 100%;
}
/* line 35, ../../../app/stylesheets/screen.sass */
#page > nav > ul > li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
  font-size: 1.25em;
  line-height: 2.4em;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  display: block;
  text-align: center;
}
/* line 7, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#page > nav > ul > li {
  *display: inline;
}
/* line 42, ../../../app/stylesheets/screen.sass */
#page > nav > ul > li > a {
  color: #cfb309;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: underline overline;
}
/* line 48, ../../../app/stylesheets/screen.sass */
#page > nav > ul > li > a:hover {
  text-decoration: underline overline line-through;
}
/* line 50, ../../../app/stylesheets/screen.sass */
#page > nav > ul > li.current {
  text-shadow: silver 1px 1px 2px;
  color: #db8322;
  text-decoration: underline overline;
}
/* line 54, ../../../app/stylesheets/screen.sass */
#page > nav > ul > li.current > a {
  color: #db8322;
}
/* line 57, ../../../app/stylesheets/screen.sass */
#page > nav > ul > li > ul#account {
  list-style: none;
  font-size: 0.813em;
  line-height: 1.292em;
}
/* line 11, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
#page > nav > ul > li > ul#account li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 61, ../../../app/stylesheets/screen.sass */
#page > header {
  background-image: url("/images/clouds.png");
  clear: both;
  margin-right: 0.885%;
  margin-left: 0.885%;
}
/* line 65, ../../../app/stylesheets/screen.sass */
#page > header h1 {
  font-size: 1.938em;
  line-height: 1.548em;
  margin-bottom: 0em;
}
/* line 69, ../../../app/stylesheets/screen.sass */
#page > header .gradient {
  -moz-box-shadow: silver 0 0 3px inset;
  -webkit-box-shadow: silver 0 0 3px inset;
  -o-box-shadow: silver 0 0 3px inset;
  box-shadow: silver 0 0 3px inset;
  width: 100%;
  background-color: #8bc7c7;
  text-align: center;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #bfe0e0), color-stop(100%, #8bc7c7));
  background-image: -moz-linear-gradient(top, #bfe0e0 0%, #8bc7c7 100%);
  background-image: linear-gradient(top, #bfe0e0 0%, #8bc7c7 100%);
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
}
/* line 76, ../../../app/stylesheets/screen.sass */
#page > header, #page > header .gradient {
  -moz-border-radius: 20px 0;
  -webkit-border-radius: 20px 0;
  -o-border-radius: 20px 0;
  -ms-border-radius: 20px 0;
  -khtml-border-radius: 20px 0;
  border-radius: 20px 0;
}
/* line 79, ../../../app/stylesheets/screen.sass */
#page > #notice {
  clear: both;
  margin-right: 0.885%;
  margin-left: 0.885%;
  text-align: center;
  margin-bottom: 1.5em;
  border-top-style: solid;
  border-top-width: 0.063em;
  padding-top: -0.063em;
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: -0.063em;
}
/* line 85, ../../../app/stylesheets/screen.sass */
#page > article {
  display: inline;
  float: left;
  width: 67.257%;
  margin-right: 0.885%;
  margin-left: 0.885%;
}
/* line 88, ../../../app/stylesheets/screen.sass */
#page > article.full-width {
  display: inline;
  float: left;
  width: 98.23%;
  margin-right: 0.885%;
}
/* line 91, ../../../app/stylesheets/screen.sass */
#page > section.sidebar {
  display: inline;
  float: left;
  width: 30.088%;
  margin-right: 0.885%;
  display: inline;
  float: right;
  margin-right: 0.885%;
  #margin-left: -0.5em;
}
/* line 95, ../../../app/stylesheets/screen.sass */
#page > #page-footer {
  clear: both;
  margin-right: 0.885%;
  margin-left: 0.885%;
}

/* line 98, ../../../app/stylesheets/screen.sass */
body > footer {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 56.5em;
  max-width: 100%;
}
/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body > footer:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 100, ../../../app/stylesheets/screen.sass */
body > footer > #footer {
  background-image: url("/images/grass.jpg");
  clear: both;
  margin-right: 0.885%;
  margin-left: 0.885%;
}
/* line 103, ../../../app/stylesheets/screen.sass */
body > footer > #footer .gradient {
  width: 100%;
  background-color: #8daf25;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #9ec429), color-stop(100%, #6b851c));
  background-image: -moz-linear-gradient(top, #9ec429 0%, #6b851c 100%);
  background-image: linear-gradient(top, #9ec429 0%, #6b851c 100%);
  -moz-box-shadow: silver 0 0 3px inset;
  -webkit-box-shadow: silver 0 0 3px inset;
  -o-box-shadow: silver 0 0 3px inset;
  box-shadow: silver 0 0 3px inset;
  opacity: 0.92;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=92);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=92);
  font-size: 0.875em;
  line-height: 5.143em;
  text-align: center;
}
/* line 111, ../../../app/stylesheets/screen.sass */
body > footer > #footer .gradient a {
  color: yellow;
}
/* line 76, ../../../app/stylesheets/_defaults.sass */
body > footer > #footer .gradient a:link, body > footer > #footer .gradient a:visited {
  color: yellow;
  text-decoration: none;
}
/* line 79, ../../../app/stylesheets/_defaults.sass */
body > footer > #footer .gradient a:link, body > footer > #footer .gradient a:visited, body > footer > #footer .gradient a:hover, body > footer > #footer .gradient a:active {
  outline: none;
}
/* line 81, ../../../app/stylesheets/_defaults.sass */
body > footer > #footer .gradient a:focus, body > footer > #footer .gradient a:hover {
  color: #8bc7c7;
  text-decoration: none;
}
/* line 84, ../../../app/stylesheets/_defaults.sass */
body > footer > #footer .gradient a:active {
  color: #c78b8b;
}
/* line 86, ../../../app/stylesheets/_defaults.sass */
body > footer > #footer .gradient a:focus {
  outline: thin dotted;
}
/* line 113, ../../../app/stylesheets/screen.sass */
body > footer > #footer, body > footer > #footer .gradient {
  -moz-border-radius: 0 20px;
  -webkit-border-radius: 0 20px;
  -o-border-radius: 0 20px;
  -ms-border-radius: 0 20px;
  -khtml-border-radius: 0 20px;
  border-radius: 0 20px;
}

@media screen and (max-width: 600px) {
  /* line 118, ../../../app/stylesheets/screen.sass */
  #page > article, #page > section.sidebar {
    clear: both;
    margin-right: 0.885%;
    margin-left: 0.885%;
    width: auto;
  }
}

/* Individual pages --------------------------------- */
/* line 125, ../../../app/stylesheets/screen.sass */
section.user-profile h2 {
  margin-bottom: 0em;
}
/* line 127, ../../../app/stylesheets/screen.sass */
section.user-profile ul {
  list-style: none;
  margin-left: 0;
}
/* line 11, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
section.user-profile ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}

/* line 131, ../../../app/stylesheets/screen.sass */
li.composition, li.packet, section.composition {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  clear: both;
  margin-right: 0.885%;
  margin-left: 0.885%;
  border-style: dashed;
  border-width: 0.063em;
  padding: 1.438em;
  padding-bottom: 0em;
  border-color: silver;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/* line 139, ../../../app/stylesheets/screen.sass */
li.composition ul, li.packet ul, section.composition ul {
  list-style-type: disc;
}
/* line 141, ../../../app/stylesheets/screen.sass */
li.composition ul, li.composition ol, li.packet ul, li.packet ol, section.composition ul, section.composition ol {
  margin-bottom: 1.5em;
}
/* line 143, ../../../app/stylesheets/screen.sass */
li.composition ul ul, li.composition ul ol, li.composition ol ul, li.composition ol ol, li.packet ul ul, li.packet ul ol, li.packet ol ul, li.packet ol ol, section.composition ul ul, section.composition ul ol, section.composition ol ul, section.composition ol ol {
  margin-bottom: 0em;
}

/* line 145, ../../../app/stylesheets/screen.sass */
footer.composition-details {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/* line 148, ../../../app/stylesheets/screen.sass */
footer.composition-details p, footer.composition-details span {
  margin-bottom: 0em;
  color: silver;
}
/* line 152, ../../../app/stylesheets/screen.sass */
footer.composition-details p.author a:last-child {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 85%;
}
/* line 7, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
footer.composition-details p.author a:last-child {
  *display: inline;
}
/* line 155, ../../../app/stylesheets/screen.sass */
footer.composition-details p.author a:first-child {
  display: inline;
}

/* line 158, ../../../app/stylesheets/screen.sass */
span.drag-handle-wrap {
  display: none;
}

/* line 162, ../../../app/stylesheets/screen.sass */
article#compositions section, article.meetings section {
  clear: both;
  margin-right: 0.885%;
  margin-left: 0.885%;
  margin-bottom: 1.5em;
  overflow: hidden;
  *zoom: 1;
}
/* line 163, ../../../app/stylesheets/screen.sass */
article#compositions section > header > h2, article.meetings section > header > h2 {
  margin-bottom: 0em;
}
/* line 168, ../../../app/stylesheets/screen.sass */
article#compositions section.drop-here, article.meetings section.drop-here {
  border-style: dashed;
  border-width: 0.063em;
  padding: -0.063em;
  border-color: #dddddd;
}

/* line 172, ../../../app/stylesheets/screen.sass */
ol.packets, ul.compositions {
  margin-left: 0;
  margin-bottom: 0;
}
/* line 177, ../../../app/stylesheets/screen.sass */
ol.packets li.collapsed.packet, ul.compositions li.collapsed.packet {
  list-style-type: decimal;
}
/* line 179, ../../../app/stylesheets/screen.sass */
ol.packets li.collapsed.composition, ul.compositions li.collapsed.composition {
  list-style-type: disc;
}
/* line 181, ../../../app/stylesheets/screen.sass */
ol.packets li.collapsed.composition, ol.packets li.collapsed.packet, ul.compositions li.collapsed.composition, ul.compositions li.collapsed.packet {
  border-style: solid;
  border-width: 0em;
  padding: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
}
/* line 185, ../../../app/stylesheets/screen.sass */
ol.packets li.collapsed.composition > header, ol.packets li.collapsed.packet > header, ul.compositions li.collapsed.composition > header, ul.compositions li.collapsed.packet > header {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 15em;
}
/* line 7, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
ol.packets li.collapsed.composition > header, ol.packets li.collapsed.packet > header, ul.compositions li.collapsed.composition > header, ul.compositions li.collapsed.packet > header {
  *display: inline;
}
/* line 188, ../../../app/stylesheets/screen.sass */
ol.packets li.collapsed.composition > header h2, ol.packets li.collapsed.packet > header h2, ul.compositions li.collapsed.composition > header h2, ul.compositions li.collapsed.packet > header h2 {
  margin-bottom: 0em;
}
/* line 190, ../../../app/stylesheets/screen.sass */
ol.packets li.collapsed.composition > div.body, ol.packets li.collapsed.packet > div.body, ul.compositions li.collapsed.composition > div.body, ul.compositions li.collapsed.packet > div.body {
  display: none;
}
/* line 192, ../../../app/stylesheets/screen.sass */
ol.packets li.collapsed.composition > span.drag-handle-wrap, ol.packets li.collapsed.packet > span.drag-handle-wrap, ul.compositions li.collapsed.composition > span.drag-handle-wrap, ul.compositions li.collapsed.packet > span.drag-handle-wrap {
  width: 3em;
  display: inline-block;
  float: left;
  margin-top: -1px;
}
/* line 197, ../../../app/stylesheets/screen.sass */
ol.packets li.collapsed.composition > span.drag-handle-wrap > span.drag-handle, ol.packets li.collapsed.packet > span.drag-handle-wrap > span.drag-handle, ul.compositions li.collapsed.composition > span.drag-handle-wrap > span.drag-handle, ul.compositions li.collapsed.packet > span.drag-handle-wrap > span.drag-handle {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  color: silver;
  cursor: move;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  letter-spacing: -1px;
}
/* line 7, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
ol.packets li.collapsed.composition > span.drag-handle-wrap > span.drag-handle, ol.packets li.collapsed.packet > span.drag-handle-wrap > span.drag-handle, ul.compositions li.collapsed.composition > span.drag-handle-wrap > span.drag-handle, ul.compositions li.collapsed.packet > span.drag-handle-wrap > span.drag-handle {
  *display: inline;
}
/* line 203, ../../../app/stylesheets/screen.sass */
ol.packets li.collapsed.composition > footer, ol.packets li.collapsed.packet > footer, ul.compositions li.collapsed.composition > footer, ul.compositions li.collapsed.packet > footer {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 33em;
  margin-bottom: 0em;
  margin-top: 0em;
}
/* line 7, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
ol.packets li.collapsed.composition > footer, ol.packets li.collapsed.packet > footer, ul.compositions li.collapsed.composition > footer, ul.compositions li.collapsed.packet > footer {
  *display: inline;
}
/* line 208, ../../../app/stylesheets/screen.sass */
ol.packets li.collapsed.composition > footer > p.author, ol.packets li.collapsed.packet > footer > p.author, ul.compositions li.collapsed.composition > footer > p.author, ul.compositions li.collapsed.packet > footer > p.author {
  margin-left: 0.885%;
  display: inline;
  float: left;
  width: 30.088%;
  margin-right: 0.885%;
}
/* line 211, ../../../app/stylesheets/screen.sass */
ol.packets li.collapsed.composition > footer > p.submitted, ol.packets li.collapsed.packet > footer > p.submitted, ul.compositions li.collapsed.composition > footer > p.submitted, ul.compositions li.collapsed.packet > footer > p.submitted {
  display: inline;
  float: left;
  width: 48.673%;
  margin-right: 0.885%;
}
/* line 213, ../../../app/stylesheets/screen.sass */
ol.packets li.collapsed.composition > footer > p.actions, ol.packets li.collapsed.packet > footer > p.actions, ul.compositions li.collapsed.composition > footer > p.actions, ul.compositions li.collapsed.packet > footer > p.actions {
  display: inline;
  float: left;
  width: 17.699%;
  margin-right: 0.885%;
}

/* line 217, ../../../app/stylesheets/screen.sass */
ul.attendances li.attendance {
  clear: both;
  margin-right: 0.885%;
  margin-left: 0.885%;
}
/* line 219, ../../../app/stylesheets/screen.sass */
ul.attendances li.attendance span {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
ul.attendances li.attendance span {
  *display: inline;
}
/* line 221, ../../../app/stylesheets/screen.sass */
ul.attendances li.attendance span.person {
  width: 15em;
}
/* line 223, ../../../app/stylesheets/screen.sass */
ul.attendances li.attendance span.answer {
  width: 29.1em;
}
/* line 225, ../../../app/stylesheets/screen.sass */
ul.attendances li.attendance span.actions {
  width: 3.9em;
}

/* line 227, ../../../app/stylesheets/screen.sass */
form.attendance {
  clear: both;
  margin-right: 0.885%;
  margin-left: 0.885%;
  margin-top: 1.5em;
}

/* line 232, ../../../app/stylesheets/screen.sass */
article#submit-something textarea#composition_body {
  height: 30.857em;
}
/* line 234, ../../../app/stylesheets/screen.sass */
article#submit-something textarea#composition_title {
  height: 2.571em;
}
/* line 236, ../../../app/stylesheets/screen.sass */
article#submit-something .trigger {
  height: 5px;
}

/* line 239, ../../../app/stylesheets/screen.sass */
ul.meetings {
  list-style: none;
  margin-left: 0;
}
/* line 11, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
ul.meetings li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 242, ../../../app/stylesheets/screen.sass */
ul.meetings li.meeting {
  clear: both;
  margin-right: 0.885%;
  margin-left: 0.885%;
  overflow: hidden;
  *zoom: 1;
}
/* line 245, ../../../app/stylesheets/screen.sass */
ul.meetings li.meeting span.when {
  display: inline;
  float: left;
  width: 17.699%;
  margin-right: 0.885%;
  margin-left: 0.885%;
}
/* line 248, ../../../app/stylesheets/screen.sass */
ul.meetings li.meeting span.question {
  display: inline;
  float: left;
  width: 61.062%;
  margin-right: 0.885%;
}
/* line 250, ../../../app/stylesheets/screen.sass */
ul.meetings li.meeting span.actions {
  display: inline;
  float: left;
  width: 17.699%;
  margin-right: 0.885%;
  display: inline;
  float: right;
  margin-right: 0.885%;
  #margin-left: -0.5em;
}

/* line 254, ../../../app/stylesheets/screen.sass */
ul#people {
  list-style: none;
  margin-left: 0;
}
/* line 11, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
ul#people li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 257, ../../../app/stylesheets/screen.sass */
ul#people li.person {
  clear: both;
  margin-right: 0.885%;
  margin-left: 0.885%;
}
/* line 259, ../../../app/stylesheets/screen.sass */
ul#people li.person span.name {
  display: inline;
  float: left;
  width: 23.894%;
  margin-right: 0.885%;
  margin-left: 0.885%;
}
/* line 262, ../../../app/stylesheets/screen.sass */
ul#people li.person span.rank {
  display: inline;
  float: left;
  width: 17.699%;
  margin-right: 0.885%;
  margin-right: 0;
}
/* line 265, ../../../app/stylesheets/screen.sass */
ul#people li.person span.promote-to {
  display: inline;
  float: left;
  width: 39.823%;
  margin-right: 0.885%;
}
/* line 267, ../../../app/stylesheets/screen.sass */
ul#people li.person span.promote-to > ul {
  list-style-type: none;
}
/* line 5, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_inline-list.scss */
ul#people li.person span.promote-to > ul, ul#people li.person span.promote-to > ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_inline-list.scss */
ul#people li.person span.promote-to > ul li:after {
  content: ", ";
}
/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_inline-list.scss */
ul#people li.person span.promote-to > ul li:last-child:after, ul#people li.person span.promote-to > ul li.last:after {
  content: "";
}
/* line 269, ../../../app/stylesheets/screen.sass */
ul#people li.person span.actions {
  display: inline;
  float: left;
  width: 15.044%;
  margin-right: 0.885%;
  display: inline;
  float: right;
  margin-right: 0.885%;
  #margin-left: -0.5em;
}

/* line 273, ../../../app/stylesheets/screen.sass */
#your_name_looks_like {
  display: none;
}
