#your_name_looks_like
  You will show up as an author with the name "
  %span.name>
  ". We hope you like that! Here it is in context: 
  #example_haiku
    %h3.composition.title Example Haiku
    .composition.body 
      :markdown
        This is my haiku.  
        I hope it conveys the point  
        Though it is boring.  
    %p.composition.author
      %span.name
