#your_name_looks_like
  %hr
  You will show up as an author with the name "
  %span.name>
  ". We hope you like that! Here it is in context: 
  %section.submission
    %header
      %h2.nocaps Example Haiku
    :markdown
      This is my haiku.  
      I hope it conveys the point  
      Though it is boring.  
    %footer.submission-details
      %p.author
        %span.name
