- title t('.title')
- content_for :sidebar do
  = render :partial => 'people/your_name_looks_like'
= image_tag @person.gravatar_url, :alt => "A picture of you"
:markdown
  You can change this photo on [Gravatar](http://gravatar.com).
= render 'form'
