- title "Help"
= simple_form_for 'recover_password', :url => recover_people_path do |f|
  = f.input :email, :required => false, :label => "Enter your email address, and we'll send you a link to change your password."
  = f.button :submit, "Let me reset my password!"
