- title(t('.title'))
- content_for :sidebar do
  :markdown
    ## This is everyone.

    Since you're a staff member, you get to see this list of everyone who has an account. Nifty!

- if editor?
  %p= link_to "New", new_person_path, :title => "Make an account for someone else."
%ul#people
  - for person in @people
    = render :partial => 'show', :locals => { :person => person }
