- if cover_art.image?
  = image_tag cover_art.image.url, alt: "Cover Art"
- if editor?
  %nav.actions
    %ul
      %li= link_to "Edit", edit_cover_art_path(cover_art), remote: true
      %li= link_to "Delete", [cover_art], method: :delete
