- if magazine.cover_art?
  = image_tag magazine.cover_art.url, alt: "Cover Art", class: 'cover-art'
- elsif orchestrates? @magazine
  %p
    You haven't added any cover art to this magazine!
    = link_to("Add cover art", edit_magazine_path(magazine)) + '.'
- if orchestrates? @magazine
  %p= link_to "Remove cover art from this page", [cover_art], method: :delete
