%p Welcome! You're minutes away from easier publication management than you ever dreamed possible.
= form_tag publications_path do
  = text_field_tag :editor_email, nil, placeholder: "Your email address", autocomplete: "off", autofocus: true
  = text_field_tag :publication_name, nil, placeholder: "Name of your publication", autocomplete: "off"
  = submit_tag "Try it out now!"
