%h2.composition.title
  = sanitize composition.title
.composition.body
  - if composition.photo?
    = image_tag composition.photo.url(:medium)
    %br
  - unless composition.body.blank?
    = sanitize composition.body
- if @user && (@user.the_editor? || @user == composition.author)
  %p.composition.author
    = composition.author
