- collapsed   = collapsed.nil?   ? true : collapsed
- show_author = show_author.nil? ? true : show_author
%li[composition]{ :class => collapsed && "collapsed" }
  - if editor?
    %span.drag-handle-wrap
      %span.drag-handle &lt;&gt;
  %header
    %a{ :href => composition_url(composition) }
      %h2.nocaps= sanitize(composition.title)
  = render :partial => 'compositions/body_and_footer', :locals => { :composition => composition, :show_author => show_author }
