%li.collapsed[composition]
  %header
    %a{ :href => composition_url(composition) }
      %h2.nocaps= sanitize(composition.title)
  = render :partial => 'compositions/body_and_footer', :locals => { :composition => composition, :show_author => show_author }
