%section[composition]
  %header
    %h2= link_to sanitize(composition.title), composition_url(composition)
  = render :partial => 'compositions/body_and_footer', :locals => { :composition => composition }
