- title(t('.title'))

- for meeting in @meetings_to_come
  %section[meeting]
    %header
      %h2 To be reviewed on #{link_to pretty_date(meeting.when), meeting_url(meeting)}

%section#unscheduled
  %header
    %h2 Unscheduled
  %ul.compositions
    - for composition in @compositions
      = render :partial => 'show', :locals => { :composition => composition }

- for meeting in @meetings_gone_by
  %section[meeting]
    %header
      %h2 To be reviewed on #{link_to pretty_date(meeting.when), meeting_url(meeting)}

:javascript
  $(function(){
    $('li.composition header h2').live('click', function(e){
      e.preventDefault();
      $(this).parents('li.composition').toggleClass('collapsed');
    });
  });
