- title t('.title')
- content_for :aside do
  :markdown
    Your name will be removed when this is reviewed; 
    only the cheif editor will know you wrote this. 
    And only the assistant editor will know how people 
    score it. Everyone else has the privilege of 
    judging it objectively.
= render 'form'
