/* line 4, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

@import url(partials/base.css);
/* line 9, ../../../../app/stylesheets/layouts/partials/_page.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 65, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 66, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 67, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 68, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 69, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 70, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 71, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 72, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 73, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 74, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 75, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 77, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:visited {
  color: #000066;
}
/* line 21, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:focus {
  color: black;
}
/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:hover {
  color: black;
}
/* line 27, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:active {
  color: #cc0099;
}
/* line 78, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 79, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong {
  font-weight: bold;
}
/* line 80, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em {
  font-style: italic;
}
/* line 81, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 82, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 83, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 84, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 85, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 86, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 87, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 88, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 89, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 90, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 91, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 92, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 93, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 94, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 95, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 96, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 98, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 99, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tr.even td {
  background: #e5ecf9;
}
/* line 100, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 101, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 102, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 8, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background: url('/images/grid.png?1277987474');
}
/* line 4, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a {
  color: #8a1f11;
}
/* line 6, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 10, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 12, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 14, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 16, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}

/* line 41, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 44, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp div.border {
  padding-right: 9px;
  margin-right: 10px;
  border-right: 1px solid #eeeeee;
}
/* line 47, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp div.colborder {
  padding-right: 34px;
  margin-right: 35px;
  border-right: 1px solid #eeeeee;
}
/* line 49, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 51, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 53, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp form.inline {
  line-height: 3;
}
/* line 6, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.bp form.inline p {
  margin-bottom: 0;
}

/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 31, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 33, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 34, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 59, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 62, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea, form.bp select {
  border: 1px solid #bbbbbb;
}
/* line 64, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus, form.bp select:focus {
  border: 1px solid #666666;
}
/* line 48, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 50, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}

/* line 8, ../../../../app/stylesheets/layouts/partials/_form.sass */
form, form.bp, textarea, input[type=text], form > fieldset > ol > li {
  width: 100% !important;
  max-width: 100% !important;
}

/* line 12, ../../../../app/stylesheets/layouts/partials/_form.sass */
.watermark_on {
  color: silver;
  font-style: italic;
}

/* line 16, ../../../../app/stylesheets/layouts/partials/_form.sass */
textarea, input[type=text] {
  padding: 0.3em 0.4em !important;
  border: 1px solid silver;
  -moz-box-shadow: #8bc7c7 0 0 3px 0;
  -webkit-box-shadow: #8bc7c7 0 0 3px 0;
  -o-box-shadow: #8bc7c7 0 0 3px 0;
  box-shadow: #8bc7c7 0 0 3px 0;
}

/* line 19, ../../../../app/stylesheets/layouts/partials/_form.sass */
input[type=submit], button {
  background: #db8322;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffb655), color-stop(100%, #ca7211));
  background-image: -moz-linear-gradient(top, #ffb655 0%, #ca7211 100%);
  background-image: linear-gradient(top, #ffb655 0%, #ca7211 100%);
  border: none;
  font-size: 140% !important;
  padding: 3px 9px !important;
  -moz-box-shadow: #4a4a4a 1px 1px 2px 0;
  -webkit-box-shadow: #4a4a4a 1px 1px 2px 0;
  -o-box-shadow: #4a4a4a 1px 1px 2px 0;
  box-shadow: #4a4a4a 1px 1px 2px 0;
}
/* line 26, ../../../../app/stylesheets/layouts/partials/_form.sass */
input[type=submit]:hover, button:hover {
  -moz-box-shadow: #4a4a4a 0 0 2px 0;
  -webkit-box-shadow: #4a4a4a 0 0 2px 0;
  -o-box-shadow: #4a4a4a 0 0 2px 0;
  box-shadow: #4a4a4a 0 0 2px 0;
}
/* line 28, ../../../../app/stylesheets/layouts/partials/_form.sass */
input[type=submit]:active, button:active {
  -moz-box-shadow: #4a4a4a -1px -1px 1px 0;
  -webkit-box-shadow: #4a4a4a -1px -1px 1px 0;
  -o-box-shadow: #4a4a4a -1px -1px 1px 0;
  box-shadow: #4a4a4a -1px -1px 1px 0;
}

/* line 31, ../../../../app/stylesheets/layouts/partials/_form.sass */
li.cancel {
  margin-left: 2em !important;
}

/* line 34, ../../../../app/stylesheets/layouts/partials/_form.sass */
#search_box {
  width: 200px;
  margin: 0 auto;
}
/* line 37, ../../../../app/stylesheets/layouts/partials/_form.sass */
#search_box input[type="submit"] {
  display: none;
}

/* line 40, ../../../../app/stylesheets/layouts/partials/_form.sass */
#errorExplanation {
  border: 1px solid #db4522;
  padding: 0.5em;
  background: #ffcdaa;
  margin-bottom: 20px;
  width: 100%;
}
/* line 46, ../../../../app/stylesheets/layouts/partials/_form.sass */
#errorExplanation h3 {
  font-size: 1.5em;
}
/* line 48, ../../../../app/stylesheets/layouts/partials/_form.sass */
#errorExplanation ul {
  list-style: none inside none;
}

/* line 25, ../../../../app/stylesheets/layouts/partials/_two_col.scss */
body.two-col #container {
  width: 930px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 27, ../../../../app/stylesheets/layouts/partials/_two_col.scss */
body.two-col #header, body.two-col #footer {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 930px;
}
/* line 138, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #header, * html body.two-col #footer {
  overflow-x: hidden;
}
/* line 29, ../../../../app/stylesheets/layouts/partials/_two_col.scss */
body.two-col #sidebar {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 280px;
}
/* line 138, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #sidebar {
  overflow-x: hidden;
}
/* line 33, ../../../../app/stylesheets/layouts/partials/_two_col.scss */
body.two-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 138, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #content {
  overflow-x: hidden;
}

/* line 1, ../../../../app/stylesheets/compositions/show.sass */
.composition.title {
  font-size: 1.7em;
  margin: 0;
}
/* line 4, ../../../../app/stylesheets/compositions/show.sass */
.composition.title p, .composition.title pre, .composition.title div {
  display: inline;
  margin: 0;
  padding: 0;
}

/* line 9, ../../../../app/stylesheets/compositions/show.sass */
.composition.body {
  margin: 1.5em 0;
}

/* line 22, ../../../../app/stylesheets/compositions/show.sass */
.composition.author {
  color: silver;
}

/* line 1, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg {
  width: 100%;
  clear: both;
  padding: 0.3em 0.4em !important;
  border: 1px solid silver;
  -moz-box-shadow: #8bc7c7 0 0 3px 0;
  -webkit-box-shadow: #8bc7c7 0 0 3px 0;
  -o-box-shadow: #8bc7c7 0 0 3px 0;
  box-shadow: #8bc7c7 0 0 3px 0;
}
/* line 5, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg * {
  margin: 0;
  padding: 0;
}
/* line 8, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg .trigger {
  padding-top: 0.2em;
  overflow: hidden;
  *zoom: 1;
}
/* line 11, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel {
  margin: 0 0 0.4em;
  padding: 0;
  border-bottom: 1px solid #cccccc;
  float: left;
  width: 100%;
}
/* line 17, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li {
  list-style-type: none;
  float: left;
  margin: 1px 2px 3px 0;
  background: white;
}
/* line 22, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li.separator {
  height: 16px;
  margin: 0 4px;
  border-left: 1px solid #cccccc;
}
/* line 26, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a {
  text-indent: -5000px;
  opacity: 0.75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  display: block;
  width: 16px;
  height: 16px;
  background: url("/images/jquery.wysiwyg.gif") no-repeat -64px -80px;
  border: 0;
  cursor: pointer;
  padding: 1px;
}
/* line 36, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a:hover, div.wysiwyg ul.panel li a.active {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
/* line 38, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.active {
  background-color: #f9f9f9;
  border: 1px solid #cccccc;
  border-left-color: #aaaaaa;
  border-top-color: #aaaaaa;
  padding: 0;
}
/* line 44, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.bold {
  background-position: 0 -16px;
}
/* line 46, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.italic {
  background-position: -15px -16px;
}
/* line 48, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.strikeThrough {
  background-position: -32px -16px;
}
/* line 50, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.underline {
  background-position: -48px -15px;
}
/* line 52, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.justifyLeft {
  background-position: 0 0;
}
/* line 54, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.justifyCenter {
  background-position: -16px 0;
}
/* line 56, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.justifyRight {
  background-position: -32px 0;
}
/* line 58, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.justifyFull {
  background-position: -48px 0;
}
/* line 60, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.indent {
  background-position: -63px 1px;
}
/* line 62, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.outdent {
  background-position: -79px 1px;
}
/* line 64, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.subscript {
  background-position: -64px -15px;
}
/* line 66, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.superscript {
  background-position: -80px -17px;
}
/* line 68, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.undo {
  background-position: 1px -62px;
}
/* line 70, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.redo {
  background-position: -16px -63px;
}
/* line 72, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.insertOrderedList {
  background-position: -32px -48px;
  height: 14px;
}
/* line 75, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.insertUnorderedList {
  background-position: -15px -48px;
}
/* line 77, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.insertHorizontalRule {
  background-position: 1px -45px;
}
/* line 79, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.h1 {
  background-position: 0 -32px;
}
/* line 81, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.h2 {
  background-position: -16px -32px;
}
/* line 83, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.h3 {
  background-position: -32px -32px;
}
/* line 85, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.h4 {
  background-position: -48px -32px;
}
/* line 87, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.h5 {
  background-position: -64px -32px;
}
/* line 89, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.h6 {
  background-position: -80px -32px;
}
/* line 91, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.cut {
  background-position: -32px -64px;
}
/* line 93, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.copy {
  background-position: -48px -64px;
}
/* line 95, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.paste {
  background-position: -64px -64px;
}
/* line 97, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.increaseFontSize {
  background-position: -16px -80px;
}
/* line 99, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.decreaseFontSize {
  background-position: -32px -80px;
}
/* line 101, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.createLink {
  background-position: -80px -47px;
}
/* line 103, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.insertImage {
  background-position: -80px -80px;
}
/* line 105, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.html {
  background-position: -47px -46px;
}
/* line 107, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.removeFormat {
  background-position: -80px -63px;
}
/* line 109, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg ul.panel li a.empty {
  background-position: -64px -80px;
}
/* line 111, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg iframe {
  width: 100%;
  border-top: none;
}
/* line 114, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg #composition_titleIFrame {
  height: 1.4em;
}
/* line 116, ../../../../app/stylesheets/compositions/wysiwyg.sass */
div.wysiwyg #composition_bodyIFrame {
  min-height: 30em;
}

/* line 39, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}

/* line 65, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
/* line 66, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 67, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 68, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 69, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 70, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 71, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 72, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 73, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 74, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 75, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 77, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:visited {
  color: #000066;
}
/* line 21, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:focus {
  color: black;
}
/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: black;
}
/* line 27, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
  color: #cc0099;
}

/* line 78, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 79, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong {
  font-weight: bold;
}

/* line 80, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em {
  font-style: italic;
}

/* line 81, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 82, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 83, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 85, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 86, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 87, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 88, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 89, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 90, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 91, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 92, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 93, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 94, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 95, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 96, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 98, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 99, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tr.even td {
  background: #e5ecf9;
}

/* line 100, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 101, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 102, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #666666;
}

/* line 103, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #111111;
}

/* line 10, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -80px;
}
/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 80px;
}

/* line 20, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 80px;
}

/* line 6, ../../../../app/stylesheets/layouts/application.sass */
html, body {
  min-height: 100%;
}

/* line 9, ../../../../app/stylesheets/layouts/application.sass */
#header {
  height: 70px;
  background: #8bc7c7;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cfffff), color-stop(100%, #8bc7c7));
  background-image: -moz-linear-gradient(top, #cfffff 0%, #8bc7c7 100%);
  background-image: linear-gradient(top, #cfffff 0%, #8bc7c7 100%);
}
/* line 10, ../../../../app/stylesheets/layouts/application.sass */
#header h1 {
  margin-bottom: 0.1em;
  padding-top: 0.2em;
}

/* line 17, ../../../../app/stylesheets/layouts/application.sass */
#footer {
  background: #8daf25;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #8daf25), color-stop(100%, #496b00));
  background-image: -moz-linear-gradient(top, #8daf25 0%, #496b00 100%);
  background-image: linear-gradient(top, #8daf25 0%, #496b00 100%);
}

/* line 21, ../../../../app/stylesheets/layouts/application.sass */
#footer #text, #header #text {
  width: 950px;
  margin: 0 auto;
  display: block;
}

/* line 26, ../../../../app/stylesheets/layouts/application.sass */
#content {
  width: 950px;
  display: block;
  margin: 0 auto;
  background: #eeeeee;
}
/* line 31, ../../../../app/stylesheets/layouts/application.sass */
#content #aside {
  padding: 15px 0 0;
  display: inline;
  float: left;
  margin-right: 20px;
  width: 230px;
}
/* line 32, ../../../../app/stylesheets/layouts/application.sass */
#content #aside h2 {
  font-size: 1.5em;
}
/* line 138, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content #aside {
  overflow-x: hidden;
}
/* line 36, ../../../../app/stylesheets/layouts/application.sass */
#content #nav {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 145px;
  list-style: none inside none;
  padding-left: 3px;
}
/* line 138, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content #nav {
  overflow-x: hidden;
}
/* line 40, ../../../../app/stylesheets/layouts/application.sass */
#content #nav li {
  font-size: 2.2em;
  color: #db8322;
  text-shadow: silver 1px 1px 2px;
}
/* line 44, ../../../../app/stylesheets/layouts/application.sass */
#content #nav li a {
  text-shadow: white 0 0 1px;
  text-decoration: none;
  color: #cfb309;
}
/* line 48, ../../../../app/stylesheets/layouts/application.sass */
#content #nav li a:hover {
  color: #e39c4d;
  text-shadow: silver 0 0 1px;
}
/* line 51, ../../../../app/stylesheets/layouts/application.sass */
#content #main {
  padding-left: 20px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 510.0px;
}
/* line 138, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content #main {
  overflow-x: hidden;
}

/* line 55, ../../../../app/stylesheets/layouts/application.sass */
#nav, #main {
  border-left: 1px solid #dddddd;
}

/* line 58, ../../../../app/stylesheets/layouts/application.sass */
#root_footer {
  height: 80px;
  display: block;
  clear: both;
}

/* line 63, ../../../../app/stylesheets/layouts/application.sass */
thead th {
  background: #cfb309;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f1d52b), color-stop(100%, #bea200));
  background-image: -moz-linear-gradient(top, #f1d52b 0%, #bea200 100%);
  background-image: linear-gradient(top, #f1d52b 0%, #bea200 100%);
}

/* line 66, ../../../../app/stylesheets/layouts/application.sass */
tr.even td {
  background: #f9f6de;
}

/* line 69, ../../../../app/stylesheets/layouts/application.sass */
::selection {
  background-color: #f8e5d1;
}

/* line 72, ../../../../app/stylesheets/layouts/application.sass */
body.bp .error {
  color: #db4522;
  background: none;
  border: none;
}

/* line 76, ../../../../app/stylesheets/layouts/application.sass */
form.formtastic fieldset > ol > li p.inline-errors {
  color: #db4522;
}

/* line 79, ../../../../app/stylesheets/layouts/application.sass */
blockquote {
  color: inherit;
  font-style: inherit;
  margin: inherit;
}
