== Oh, snap! You forgot your password.
= "\n"
== To reset your Problem Child account password, go to this address: #{@url}
= "\n"
== This link will be good until you change your password. If you didn't request that this email be sent, be wary! Someone may be trying to hack your account!
