:markdown
  Oh snap! You forgot your password.
  ==================================

  To reset your Problem Child account password, all you need to do is visit [this page](#{@url}) and change your password. Once changed, that link will stop working.

- content_for :footer do
  :markdown
    If you didn't request that this email be sent, be wary! Someone may be trying to hack your account!
