%h1.composition.title= @title
.composition.body= @composition_body
%p.composition.author{ :style => "color: silver;" }= @author
- content_for :footer do
  :markdown
    You can [view this on the website](#{@url}).
