= render :partial => 'compositions/composition', :locals => { :composition => @composition }
%p.composition.author{ :style => "color: silver;" }
  = @author
- content_for :footer do
  :markdown
    You can [view this on the website](#{@url}).
