- if positions = staff_list.magazine.positions
  %ul.positions
    - for position in positions
      = render partial: 'positions/position', locals: { position: position }

- if editor?
  :markdown
    #{link_to "Add a new position", new_position_path(magazine_id: staff_list.magazine.id)}  
    #{link_to "Remove the staff list from this page", [staff_list], method: :delete}
  - javascript 'staff_list.js'
