- if orchestrates? @publication
  .tips(data-typsy-toggle)
    = link_to fa_icon("question-circle"), "#toggle-tips"
  .tip-container{ data: { "typsy-container" => "", app: "e497f632-fdc4-4ab5-9eac-8b58f5761a41", page: "#{params[:controller]}##{params[:action]}", user: current_person.id, show_conditionals: @show_conditional_tips } }
