%li[attendee]
  %span.person
    - if editor? && attendee.person
      = mail_to attendee.person.email, email_image(attendee.name)
    = link_to_if attendee.person, attendee.name, attendee.person
  %span.answer= attendee.answer
  -if editor?
    %span.actions
      = button_to "Remove", meeting_attendee_path(@meeting, attendee), :method => :delete, :class => 'link'
