%section#magazines
  %header
    %h2
      Magazines
  %ul.magazines
    - for mag in @magazines
      - if mag != @magazine
        %a{ href: url_for(m: mag.to_param) }
          = render 'magazines/for_sidebar', mag: mag
      - else
        = render 'magazines/for_sidebar', mag: mag
