- title t('.title')
- if editor?
  %p= link_to t('.new_magazine'), new_magazine_path

%ol.magazines
  - for magazine in collection
    = render :partial => 'show', :locals => { :magazine => magazine }
