- title t('.title')
- if orchestrates? :any
  %p= link_to t('.new_magazine'), new_magazine_path

%ol.magazines
  - for magazine in @magazines
    = render :partial => 'show', :locals => { :magazine => magazine }
