- title @magazine.to_s

.content
  = paginate @submissions, :window => 50
  %ol.submissions
    - for submission in @submissions
      = render :partial => 'submissions/show', :locals => { :submission => submission, :collapsed => false }
  = paginate @submissions, :window => 50
