//** SCREEN STYLES **//

// Imports --------------------------------------------------------------

@import defaults
@import compass/css3
@import compass/layout/sticky-footer
@import compass/utilities/lists/inline-list
@import compass/utilities/text/ellipses
$use-mozilla-ellipsis-binding: true

/* Layout --------------------------------------------------------------

+susy

/* Styles --------------------------------------------------------------

/* Layout -----------------------------------------

+sticky-footer($base-rhythm-unit * 4, '#page', '#page-footer', 'body > footer')

#page
  +container
  //+show-grid('grid.png')
  // --> show-grid loads a 64+16x24 grid image by default
  // For other grid settings, run `compass grid-img 30+10x20`
  // Where 30 is the column width, 10 is the gutter width,
  // and 20 is the (optional) line-height.

  & > nav
    +full
    & > ul
      +inline-block-list-container
      +display-box
      +box-lines('multiple')
      width: 100%
      & > li
        +inline-block-list-item
        display: block
        +adjust-font-size-to(20px, 2)
        +box-flex(1)
        text-align: center
        //&:last-child
          text-align: right
        & > a
          color: $yellow
          display: block
          height: 100%
          width: 100%
          text-decoration: underline overline
          &:hover
            text-decoration: underline overline line-through
        &.current
          +text-shadow
          color: $orange
          text-decoration: underline overline
          & > a
            color: $orange

        & > ul#account
          +no-bullets
          +adjust-font-size-to(13px, 0.7)

  & > header
    background-image: url('/images/clouds.png')
    +full

    h1
      +adjust-font-size-to(31px)
      +trailer(0, 21px)

    .gradient
      +box-shadow($lgray, 0, 0, 3px, inset)
      width: 100%
      background-color: $blue
      text-align: center
      +linear-gradient(color-stops(lighten($blue, 15%), $blue))
      +opacity(0.9)
    &, .gradient
      +border-radius(20px 0)

  & > #notice
    +full
    text-align: center
    +trailer(1)
    +horizontal-borders(1px, 0)

  & > article
    +columns($article)
    +alpha
    &.full-width
      +columns($total-cols)

  & > section.sidebar
    +columns($sidebar)
    +omega

  & > #page-footer
    +full

body > footer
  +container
  & > #footer
    background-image: url('/images/grass.jpg')
    +full
    .gradient
      width: 100%
      background-color: $green
      +linear-gradient(color-stops(lighten($green, 5%), darken($green, 10%)))
      +box-shadow($lgray, 0, 0, 3px, inset)
      +opacity(0.92)
      +adjust-font-size-to(14px, 3)
      text-align: center
      a
        +links(yellow)
    &, .gradient
      +border-radius(0 20px)

@media screen and (max-width: 600px)
  #page
    & > article, & > section.sidebar
      +full
      width: auto

/* Individual pages ---------------------------------

section.user-profile
  h2
    +trailer(0)
  ul
    +no-bullets
    margin-left: 0

li.submission, li.packlet, section.submission
  +no-bullet
  +full
  +rhythm-borders(1px, 1, $base-font-size, dashed)
  +padding-trailer(0)
  border-color: $lgray
  +leader
  +trailer
  ul
    list-style-type: disc
  ul, ol
    +trailer
    ul, ol
      +trailer(0)
  & > header h2
    min-height: $base-line-height

footer.submission-details
  +leader
  +trailer
  p, span
    +trailer(0)
    +grayed-out
  p.author
    a:last-child
      +inline-block
      width: 85%
    a:first-child
      display: inline

span.drag-handle-wrap
  display: none

article#submissions, article.meetings
  section
    & > header > h2
      +trailer(0)
    +full
    +trailer
    +clearfix
    &.drop-here
      +rhythm-borders(1px, 0, $base-font-size, dashed)
      border-color: $noticeable

ol.packlets, ul.submissions
  li.collapsed
    &.packlet
      list-style-type: decimal
    &.submission
      list-style-type: disc
    &.submission, &.packlet
      +rhythm-borders(0px, 0)
      +leader(0)
      +trailer(0)
      & > header
        +inline-block
        width: $sidebar * $col-width
        h2
          +trailer(0)
      & > div.body
        display: none
      & > span.drag-handle-wrap
        width: 3em
        display: inline-block
        float: left
        margin:
          top: -1px
          left: -1.5em
        cursor: move
        & > span.drag-handle
          +inline-block
          color: $lgray
          +rotate(90deg)
          letter-spacing: -1px
      & > footer
        +inline-block
        width: $article * $col-width
        +trailer(0)
        +leader(0)
        & > p.author
          +alpha
          +columns(5)
        & > span.score
          +columns(9)
          & > form.score
            display: inline
        & > p.submitted
          display: none
        & > p.actions
          +columns(3)

span.score
  form.button_to
    +adjust-font-size-to(9px)
    line-height: 1em
    input[type=submit]
      vertical-align: top
  form.score
    display: inline
    input[type=submit]
      display: inline
      +trailer(0)
      +leader(0)
      height: $base-line-height / 16px * 0.8em
      line-height: $base-line-height / 16px * 0.7em
    div
      display: inline
      label
        &:after
          content: ": "
        font-weight: normal
        display: inline
      input[type=number]
        +trailer(0)
        text-align: center
        width: 2.5em
        display: inline
        height: $base-line-height / 16px * 1em
        +adjust-font-size-to(13px)
        +rhythm-borders(1px, 0.05, 14px)
        line-height: $base-line-height / 16px * 0.7em

section#scores
  +full
  +leader
  #packlet_titles
    +alpha
    +columns(2)
    +trailer
    .title
      text-align: right
      +ellipsis
  .scores
    +columns(1)
    +trailer
    &:last
      +omega

ul.attendees
  li.attendee
    +full
    span
      +inline-block
    span.person
      width: $sidebar * $col-width
    span.answer
      width: ($article - 2) * $col-width
      padding-left: 0.5em
      +border-radius
      min-height: $base-line-height
    span.actions
      width: 2 * $col-width + $gutter-width * 4
      text-align: right
form.attendee
  +full
  +leader

article#submit-something
  textarea#submission_body
    height: $base-line-height / 14px * 18em
  textarea#submission_title
    height: $base-line-height / 14px * 1.5em
  .trigger
    height: 5px

ul.meetings
  +no-bullets
  margin-left: 0
  li.meeting
    +full
    +clearfix
    span.when
      +columns(floor($total-cols * (1/5)))
      +alpha
    span.question
      +columns(ceil( $total-cols * (3/5)))
    span.actions
      +columns(floor($total-cols * (1/5)))
      +omega

ul#people
  +no-bullets
  margin-left: 0
  li.person
    +full
    span.name
      +columns(4)
      +alpha
    span.rank
      +columns(3)
      margin-right: 0
    span.promote-to
      +columns(6.5)
      & > ul
        +comma-delimited-list
    span.actions
      +columns(2.5)
      +omega

/*
 *   Odds & Ends
 ********************************/

#your_name_looks_like
  display: none

ul.actions
  +delimited-list(" | ")
