- title('Showcase')
- content_for :aside do
  %h2 What is all this?
  -# TODO: Put mission statement from new constitution in sidebar here; make this an "about" controller and include whole constitution somewhere
  :markdown
    The purpose of Problem Child is to offer an alternative medium for publication of poetry, prose, artwork, essays, and other creative media by semi-annually publishing the Problem Child Literary Magazine.  Problem Child aims to publish and promote individual original thought by creating and hosting a creative community.
%p These are poems we think are pretty rad.
%hr
%h3 After the Miscarriage
:markdown
  Two weeks later, I put the cardboard boxes &mdash;  
  the same ones that we kept everything in  
  after the shower &mdash; in his room. I stacked  
  the small ones inside the big ones and &mdash;  
  I feel terrible for this &mdash; thought maybe  
  they had been emptied prematurely.  
  Folded clothes, unopened wipes, shoes,  
  tongues perfectly even, their little mouths   
  agape, I eventually packed everything back   
  into the boxes but could not take them   
  back up into the attic. Some nights,   
  I would wake up and walk over to that room,  
  almost the same way as I'd once imagined   
  that I would. Moonlight crawling  
  through the blinds, the walls were bare  
  and the bureau empty.  
  I stared at the boxes and thought  
  of how the room looked the same  
  as when we moved into our home.    

  _Kyle Carroza_
