- content_for :aside do
  %h2 What is all this?
  :markdown
    Problem Child is a community of Writers, Artists, and Generally Awesome People who commune once each week of the spring and fall semester. When they commune, they review your submissions. But first they take your name off them. And then they vote on each, and the top scoring compositions get into a magazine. Magazines are released at the end of each fall and spring semester.
%h2 Showcase
%p These are poems we think are pretty rad.
%hr
%h3 After the Miscarriage
:markdown
  Two weeks later, I put the cardboard boxes &mdash;  
  the same ones that we kept everything in  
  after the shower &mdash; in his room. I stacked  
  the small ones inside the big ones and &mdash;  
  I feel terrible for this &mdash; thought maybe  
  they had been emptied prematurely.  
  Folded clothes, unopened wipes, shoes,  
  tongues perfectly even, their little mouths   
  agape, I eventually packed everything back   
  into the boxes but could not take them   
  back up into the attic. Some nights,   
  I would wake up and walk over to that room,  
  almost the same way as I'd once imagined   
  that I would. Moonlight crawling  
  through the blinds, the walls were bare  
  and the bureau empty.  
  I stared at the boxes and thought  
  of how the room looked the same  
  as when we moved into our home.    

  _Kyle Carroza_
