%header.add-stuff-trigger
  %h2{ title: "Add stuff", class: !collapse && 'tilt-45' }
    +
%section.add-stuff{ class: collapse && 'hidden' }
  %ul
    = link_to cover_arts_path(page_id: @page.id), method: :post do
      %li Cover Art
    = link_to new_editors_note_path(page_id: @page.id), remote: true do
      %li Note
    = link_to table_of_contents_path(page_id: @page.id), method: :post do
      %li Table of Contents
    = link_to staff_lists_path(page_id: @page.id), method: :post do
      %li Staff List
