%li
  = form_for [@magazine, Page.new], html: { class: "button_to" } do |f|
    = f.hidden_field :position, value: if position == :beginning then 5 elsif position.is_a?(Numeric) then position end
    = f.submit "+", class: "link", title: "Add a new page at the #{position}"
