%ol.submissions{ class: [!@magazine.published? && orchestrates?(@magazine) && 'collapsable', orchestrates?(@magazine) && 'paginatable'] }
  - for submission in submissions
    = render partial: 'submissions/show', locals: { submission: submission, collapsed: false }
