%ol.submissions{ class: [!@issue.published? && orchestrates?(@issue) && 'collapsable', orchestrates?(@issue) && 'paginatable'] }
  - for submission in submissions
    = render partial: 'submissions/show', locals: { submission: submission, collapsed: false }
