%ol.submissions{ class: !@magazine.notification_sent? && current_person.orchestrates?(@magazine) && 'collapsable' }
  - for submission in submissions
    = render partial: 'submissions/show', locals: { submission: submission, collapsed: false }
