%ol.submissions
  - for submission in submissions
    = render partial: 'submissions/show', locals: { submission: submission, collapsed: false }

- unless @magazine.notification_sent?
  :javascript
    $(function(){
      $('li.submission header h2').live('click', function(e){
        e.preventDefault();
        $(this).parents('li.submission').toggleClass('collapsed');
      });
    });
