- collapsed   = collapsed.nil?   ? true : collapsed
- show_author = show_author.nil? ? true : show_author
%li[submission]{ :class => collapsed && "collapsed" }
  - if orchestrates?(submission.magazine) && !(params[:controller] == "magazines" && params[:action] == "highest_scores")
    %span.drag-handle-wrap
      %span.drag-handle.fa.fa-bars
  - if params[:controller] == "magazines" && params[:action] == "highest_scores"
    = check_box_tag "submission_ids[]", submission.id, true
  %header
    %a{ :href => submission_url(submission) }
      %h2.nocaps= sanitize submission.title
  = render :partial => 'submissions/body_and_footer', :locals => { :submission => submission, :show_author => show_author }
