/* line 1, /Users/chad/Dropbox/Sites/pc/app/stylesheets/compositions/form.sass */
textarea#composition_title {
  height: 1.2em;
}

/* line 7, /Users/chad/Dropbox/Sites/pc/app/stylesheets/compositions/form.sass */
body.bp ol, body.bp ul {
  padding: 0;
  margin: 0;
}
