%li.collapsed[packet]
  - if editor?
    %span.drag-handle-wrap
      %span.drag-handle &lt;&gt;
  %header
    %a{ :href => composition_url(packet.composition) }
      %h2.nocaps= sanitize(packet.composition.title)
  = render :partial => 'compositions/body_and_footer', :locals => { :composition => packet.composition, :show_author => show_author }
