%li.collapsed[packet]
  .handle
    %header
      %a{ :href => composition_url(packet.composition) }
        %h2.nocaps= "#{packet.position}. #{sanitize(packet.composition.title)}".html_safe
    = render :partial => 'compositions/body_and_footer', :locals => { :composition => packet.composition }
