%li[attendance]
  %span.person
    - if editor? && attendance.person
      = mail_to attendance.person.email, email_image(attendance.name)
    = link_to attendance.name, attendance.person
  %span.answer= attendance.answer
  -if editor?
    %span.actions
      = button_to "Remove", meeting_attendance_path(@meeting, attendance), :method => :delete, :class => 'link'
